In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
reg_id = []
ac_bal = []
p_loans_no = []
act_loans_no = []
p_loans_no =[]
act_loans_no = [] 
ref_no =[]
fd = []

In [3]:
def list_loan_gen(len,num):
    x = []
    if num == 0: 
        for i in range(0, len):
            x.append(random.randint(0,1000)*10000) 
    else:
        for i in range(0, len):
            x.append(random.randint(1, 5))
    return x

def twoD_loan_gen(p_loans, num):
    x = []
    for i in p_loans:
        x.append(list_loan_gen(i, num))
    return x

for i in range(1000, 2000):
    reg_id.append(i)
    ac_bal.append(int(random.random()*10000000))
    p_loans_no.append(int(random.randint(0, 3)))
    act_loans_no.append(int(random.randint(0, 1)))
    ref_no.append(int(random.randint(0, 3)))
    fd.append(int(random.randint(0, 100)*1000))
    
ref = twoD_loan_gen(ref_no, 1)
p_loans = twoD_loan_gen(p_loans_no, 0)
act_loans = twoD_loan_gen(act_loans_no, 0)

In [4]:
df = pd.DataFrame(data={'ID':reg_id, 'A/c Bal':ac_bal, 'Paid Loans':p_loans, 'Active Loans':act_loans, 'Level of Referees':ref, 'Fixed Deposit':fd})
df.head()

,A/c Bal,Active Loans,Fixed Deposit,ID,Level of Referees,Paid Loans
0,4392001,[9160000],77000,1000,"[4, 3]","[8490000, 2090000]"
1,4872708,[],4000,1001,"[1, 4, 2]","[5000000, 6960000]"
2,5518306,[7200000],49000,1002,[],"[240000, 510000, 2440000]"
3,7205022,[],31000,1003,[],[3200000]
4,622249,[5500000],74000,1004,"[3, 5, 2]","[2660000, 5670000]"

In [5]:
cols = df.columns.tolist()
cols = ['ID', 'A/c Bal', 'Fixed Deposit', 'Active Loans', 'Level of Referees', 'Paid Loans']
df = df[cols]
df

,ID,A/c Bal,Fixed Deposit,Active Loans,Level of Referees,Paid Loans
0,1000,4392001,77000,[9160000],"[4, 3]","[8490000, 2090000]"
1,1001,4872708,4000,[],"[1, 4, 2]","[5000000, 6960000]"
2,1002,5518306,49000,[7200000],[],"[240000, 510000, 2440000]"
3,1003,7205022,31000,[],[],[3200000]
4,1004,622249,74000,[5500000],"[3, 5, 2]","[2660000, 5670000]"
5,1005,591073,96000,[690000],"[1, 4, 3]",[5040000]
6,1006,3847340,62000,[],[5],"[6380000, 1920000]"
7,1007,7087633,55000,[],[1],"[7930000, 7010000, 7000000]"
8,1008,9555774,49000,[],[],"[3070000, 3220000, 450000]"
9,1009,5748361,17000,[],"[2, 1]","[7930000, 3110000]"
10,1010,23910,37000,[],"[3, 2, 5]","[6820000, 900000, 1530000]"
11,1011,4467666,41000,[6590000],[],[5840000]
12,1012,7134898,43000,[6300000],"[1, 1]",[7130000]
13,1013,6164876,59000,[],"[3, 2, 4]",[6140000]
14,1014,4167844,14000,[],"[1, 4, 3]","[4810000, 3120000]"
15,1015,9844790,23000,[],"[2, 4, 3]",[]
16,1016,6429096,98000,[290000],"[1, 4]",[]
17,1017,1106640,56000,[8500000],[2],"[2500000, 4040000]"
18,1018,7395162,97000,[],"[4, 2, 2]","[8610000, 400000, 3890000]"
19,1019,3683237,68000,[],[4],[]
20,1020,7370825,20000,[1730000],[3],[]
21,1021,111335,16000,[],[],"[9870000, 1690000, 9630000]"
22,1022,4384778,43000,[8110000],[],"[3170000, 1900000]"
23,1023,1634119,37000,[2020000],[],"[4330000, 2750000, 9050000]"
24,1024,9256262,70000,[],"[5, 5]","[3780000, 3610000]"
25,1025,3950479,93000,[],[1],[]
26,1026,7917948,20000,[],[3],"[2980000, 1090000, 1030000]"
27,1027,6720742,43000,[4750000],[4],[4380000]
28,1028,3089687,75000,[],[],[8530000]
29,1029,3273457,78000,[],[],[8520000]
...,...,...,...,...,...,...
970,1970,6738170,10000,[],"[4, 1]",[]
971,1971,6313010,4000,[800000],[],[2250000]
972,1972,1856388,20000,[9310000],"[5, 1, 2]","[5410000, 3550000, 2590000]"
973,1973,1411818,92000,[8520000],[3],"[2360000, 3470000]"
974,1974,4996547,19000,[9770000],"[3, 2]","[9170000, 6300000, 1800000]"
975,1975,562276,9000,[9580000],[],[]
976,1976,4933086,23000,[],"[2, 5]",[3500000]
977,1977,9497068,67000,[5610000],[1],"[6520000, 5740000]"
978,1978,360340,11000,[],"[3, 3, 2]","[6770000, 2910000]"
979,1979,2809097,100000,[],[],[]
980,1980,3034819,93000,[],"[1, 1, 2]","[7760000, 5790000, 1180000]"
981,1981,9800208,82000,[3220000],"[1, 3]",[4390000]
982,1982,2030713,25000,[],"[3, 2]","[8040000, 7360000]"
983,1983,4930268,44000,[],"[5, 1, 3]","[7350000, 20000, 7200000]"
984,1984,4449276,55000,[],[],"[3940000, 8700000]"
985,1985,2471092,79000,[],"[5, 2]","[6290000, 7170000]"
986,1986,6208712,100000,[6040000],[2],"[9360000, 3720000, 6620000]"
987,1987,3766064,11000,[],[],[3130000]
988,1988,4306217,32000,[],[],"[3870000, 1320000, 1080000]"
989,1989,1059606,70000,[3300000],[1],"[7480000, 6680000, 1820000]"
990,1990,8118166,96000,[5810000],[4],[]
991,1991,9032326,57000,[],[],[]
992,1992,8495505,34000,[],"[3, 1, 3]",[9500000]
993,1993,2814719,54000,[],[4],"[4250000, 5390000, 890000]"
994,1994,1792809,83000,[],"[5, 4, 2]",[8550000]
995,1995,4863472,97000,[7100000],[2],"[5520000, 930000, 7820000]"
996,1996,8150911,7000,[6500000],[],"[6810000, 5160000, 0]"
997,1997,5115331,34000,[],"[3, 5, 2]","[9040000, 8690000]"
998,1998,8818911,89000,[8600000],"[3, 3, 4]","[1710000, 3390000, 1780000]"
999,1999,8441683,79000,[],"[2, 3]",[]

In [6]:
df['col12'] = df['A/c Bal']+df['Fixed Deposit']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['col12'] = scaler.fit_transform(df['col12'].reshape(-1,1))

C:\Users\mittr\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """
C:\Users\mittr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [7]:
x = [] 
for i in df['Paid Loans']:
    if(len(i)>0):
        k = 0
        for j in range(0,len(i)):
            k = k + i[j]
        x.append(k)
    else:
        x.append(0)
x

#df['Paid Loans']

[10580000,
 11960000,
 3190000,
 3200000,
 8330000,
 5040000,
 8300000,
 21940000,
 6740000,
 11040000,
 9250000,
 5840000,
 7130000,
 6140000,
 7930000,
 0,
 0,
 6540000,
 12900000,
 0,
 0,
 21190000,
 5070000,
 16130000,
 7390000,
 0,
 5100000,
 4380000,
 8530000,
 8520000,
 11640000,
 1580000,
 10300000,
 17540000,
 12870000,
 0,
 20030000,
 0,
 13770000,
 0,
 8000000,
 8370000,
 9860000,
 510000,
 850000,
 670000,
 10000,
 0,
 7500000,
 9820000,
 18160000,
 0,
 0,
 0,
 13650000,
 6570000,
 3810000,
 4390000,
 12820000,
 0,
 0,
 6590000,
 4830000,
 21310000,
 0,
 18910000,
 7820000,
 7980000,
 12890000,
 20500000,
 0,
 17630000,
 0,
 0,
 6690000,
 12930000,
 12790000,
 7470000,
 10180000,
 18010000,
 5390000,
 5730000,
 15720000,
 8580000,
 0,
 0,
 3350000,
 7030000,
 10570000,
 21430000,
 3210000,
 2740000,
 0,
 4790000,
 1250000,
 0,
 7600000,
 12040000,
 6070000,
 13350000,
 15380000,
 0,
 0,
 2520000,
 17260000,
 4550000,
 20180000,
 5970000,
 0,
 0,
 7450000,
 0,
 10020000,
 0,
 7230000,
 0,
 15480000,
 14410000,
 5340000,
 2800000,
 16080000,
 1240000,
 0,
 14960000,
 5030000,
 0,
 10130000,
 5790000,
 550000,
 0,
 0,
 0,
 3870000,
 11900000,
 7880000,
 0,
 23170000,
 9380000,
 19450000,
 7370000,
 8610000,
 9710000,
 0,
 21580000,
 18590000,
 7450000,
 14310000,
 7030000,
 9880000,
 0,
 13160000,
 11640000,
 11370000,
 10820000,
 20590000,
 12880000,
 0,
 0,
 0,
 10640000,
 6170000,
 0,
 0,
 7940000,
 9170000,
 12830000,
 0,
 16540000,
 930000,
 10820000,
 13050000,
 0,
 9510000,
 16020000,
 7690000,
 4820000,
 5700000,
 11440000,
 9340000,
 10340000,
 7190000,
 10800000,
 3750000,
 11350000,
 2920000,
 10260000,
 10600000,
 18430000,
 5020000,
 0,
 9460000,
 10370000,
 7630000,
 17130000,
 0,
 11550000,
 1230000,
 8280000,
 16940000,
 3390000,
 0,
 13540000,
 2890000,
 4120000,
 6530000,
 8920000,
 10980000,
 17810000,
 3750000,
 17780000,
 0,
 9440000,
 12670000,
 7650000,
 14030000,
 14430000,
 1880000,
 5640000,
 11250000,
 3450000,
 0,
 9870000,
 13640000,
 18510000,
 5320000,
 1360000,
 6500000,
 14460000,
 3430000,
 9210000,
 9740000,
 12910000,
 9740000,
 11940000,
 5190000,
 24630000,
 0,
 17930000,
 15530000,
 9430000,
 0,
 0,
 7650000,
 0,
 0,
 1020000,
 0,
 2390000,
 22870000,
 3770000,
 5830000,
 16620000,
 0,
 12720000,
 7940000,
 3720000,
 9560000,
 7750000,
 0,
 10260000,
 15790000,
 17500000,
 4940000,
 2130000,
 1400000,
 16440000,
 3140000,
 20450000,
 6780000,
 7730000,
 10500000,
 9210000,
 6040000,
 980000,
 8200000,
 0,
 4820000,
 0,
 16360000,
 6770000,
 10470000,
 9790000,
 21300000,
 13690000,
 0,
 9470000,
 10340000,
 13340000,
 13070000,
 3810000,
 8870000,
 21120000,
 17550000,
 12820000,
 0,
 11110000,
 3930000,
 9040000,
 12020000,
 9440000,
 11150000,
 16390000,
 0,
 14530000,
 90000,
 6780000,
 4190000,
 20850000,
 9940000,
 18380000,
 13520000,
 0,
 5830000,
 1390000,
 18190000,
 0,
 3150000,
 6420000,
 9370000,
 7560000,
 9310000,
 16990000,
 21250000,
 9890000,
 13120000,
 3810000,
 320000,
 13260000,
 11810000,
 5450000,
 0,
 0,
 20380000,
 1070000,
 16580000,
 0,
 4690000,
 0,
 0,
 17130000,
 2930000,
 9720000,
 7650000,
 6500000,
 0,
 3920000,
 0,
 6000000,
 11630000,
 0,
 23300000,
 1320000,
 11760000,
 22770000,
 540000,
 6800000,
 17600000,
 7440000,
 0,
 0,
 8870000,
 15130000,
 8790000,
 9010000,
 9020000,
 0,
 0,
 0,
 2960000,
 18220000,
 8750000,
 18280000,
 0,
 9660000,
 7350000,
 7680000,
 0,
 8640000,
 0,
 0,
 7140000,
 18950000,
 12540000,
 8350000,
 11260000,
 4760000,
 5800000,
 10850000,
 13800000,
 15780000,
 0,
 10150000,
 0,
 14950000,
 6220000,
 0,
 0,
 17190000,
 9240000,
 6570000,
 12720000,
 540000,
 12170000,
 8130000,
 9850000,
 8000000,
 0,
 0,
 0,
 9540000,
 18380000,
 0,
 7740000,
 11780000,
 2830000,
 0,
 1180000,
 11530000,
 0,
 0,
 18800000,
 4940000,
 5000000,
 0,
 22750000,
 14850000,
 4200000,
 14190000,
 7060000,
 5270000,
 6530000,
 13310000,
 0,
 930000,
 10250000,
 1240000,
 8850000,
 6240000,
 15820000,
 11980000,
 0,
 23940000,
 0,
 7190000,
 3650000,
 15490000,
 10150000,
 8490000,
 1540000,
 13790000,
 9740000,
 0,
 970000,
 9810000,
 0,
 0,
 17860000,
 7660000,
 560000,
 15230000,
 15900000,
 6680000,
 13170000,
 1100000,
 920000,
 14270000,
 14750000,
 13520000,
 6760000,
 7980000,
 22620000,
 11830000,
 0,
 9790000,
 14770000,
 0,
 0,
 11510000,
 2680000,
 3340000,
 9020000,
 9210000,
 13970000,
 8130000,
 12590000,
 17700000,
 50000,
 0,
 20650000,
 17140000,
 4890000,
 1600000,
 9290000,
 0,
 6450000,
 12160000,
 2750000,
 14640000,
 8690000,
 12320000,
 18510000,
 13870000,
 12950000,
 16310000,
 2870000,
 12030000,
 5280000,
 240000,
 10400000,
 12240000,
 3360000,
 8810000,
 90000,
 0,
 2540000,
 14790000,
 0,
 11940000,
 10920000,
 17590000,
 0,
 8340000,
 13990000,
 0,
 11520000,
 8730000,
 5910000,
 15340000,
 3070000,
 8220000,
 4960000,
 16170000,
 14110000,
 0,
 5680000,
 2570000,
 6470000,
 5200000,
 7570000,
 0,
 9840000,
 2660000,
 9950000,
 18340000,
 0,
 18070000,
 0,
 8680000,
 11560000,
 7850000,
 12460000,
 18400000,
 9410000,
 6640000,
 13800000,
 0,
 2520000,
 3850000,
 0,
 0,
 7080000,
 5790000,
 11380000,
 20650000,
 0,
 15300000,
 790000,
 12180000,
 0,
 0,
 3990000,
 1330000,
 19190000,
 5540000,
 1890000,
 4980000,
 0,
 0,
 880000,
 11040000,
 0,
 2940000,
 14750000,
 17930000,
 4440000,
 9150000,
 0,
 0,
 3490000,
 7910000,
 1380000,
 6320000,
 7850000,
 0,
 8170000,
 9150000,
 4090000,
 6180000,
 9170000,
 21110000,
 0,
 14660000,
 12310000,
 9490000,
 4890000,
 6100000,
 3970000,
 14090000,
 0,
 7820000,
 0,
 0,
 9260000,
 8420000,
 25460000,
 3990000,
 7940000,
 11770000,
 0,
 8720000,
 0,
 4240000,
 3260000,
 0,
 19920000,
 6860000,
 6410000,
 13880000,
 40000,
 0,
 0,
 0,
 0,
 19130000,
 17000000,
 9680000,
 4830000,
 19510000,
 16750000,
 11630000,
 2900000,
 14830000,
 0,
 17660000,
 8120000,
 0,
 4830000,
 18620000,
 300000,
 10990000,
 1430000,
 10910000,
 12570000,
 0,
 26960000,
 5670000,
 2670000,
 12470000,
 16760000,
 13800000,
 0,
 9720000,
 1620000,
 12190000,
 5420000,
 0,
 2490000,
 10070000,
 22550000,
 25150000,
 0,
 0,
 18720000,
 0,
 6620000,
 17170000,
 0,
 4340000,
 19270000,
 22810000,
 8470000,
 20480000,
 0,
 8200000,
 10540000,
 1980000,
 9380000,
 8960000,
 0,
 4200000,
 1280000,
 19560000,
 0,
 2090000,
 3860000,
 0,
 10410000,
 8960000,
 13970000,
 10620000,
 16650000,
 0,
 14630000,
 0,
 2900000,
 9670000,
 6480000,
 2240000,
 0,
 17070000,
 8830000,
 6600000,
 0,
 8670000,
 5850000,
 0,
 0,
 190000,
 0,
 9540000,
 12970000,
 6680000,
 0,
 2860000,
 14880000,
 4160000,
 22960000,
 7660000,
 0,
 11100000,
 10330000,
 11110000,
 11400000,
 13110000,
 9560000,
 0,
 2190000,
 10550000,
 20170000,
 0,
 6460000,
 12420000,
 12190000,
 0,
 14160000,
 0,
 7330000,
 18080000,
 6290000,
 12960000,
 9400000,
 16730000,
 5210000,
 25380000,
 13230000,
 1600000,
 4870000,
 8570000,
 25460000,
 1520000,
 7600000,
 550000,
 16990000,
 10640000,
 11910000,
 15280000,
 0,
 8580000,
 3850000,
 0,
 12970000,
 4850000,
 0,
 14160000,
 1010000,
 8230000,
 25830000,
 8710000,
 9000000,
 3990000,
 0,
 5240000,
 5610000,
 8500000,
 7500000,
 0,
 0,
 370000,
 0,
 0,
 11700000,
 11710000,
 0,
 13880000,
 0,
 18600000,
 0,
 0,
 8030000,
 8920000,
 620000,
 4740000,
 0,
 9090000,
 9100000,
 21620000,
 9380000,
 18810000,
 5520000,
 4060000,
 12250000,
 9030000,
 0,
 660000,
 16930000,
 10860000,
 11920000,
 12810000,
 0,
 12820000,
 0,
 10790000,
 6190000,
 6600000,
 11400000,
 0,
 9920000,
 780000,
 6100000,
 5330000,
 9780000,
 0,
 0,
 7530000,
 5550000,
 2230000,
 0,
 15790000,
 9240000,
 9300000,
 0,
 14530000,
 15130000,
 0,
 10140000,
 14250000,
 18500000,
 9930000,
 15610000,
 0,
 7770000,
 0,
 0,
 4190000,
 5730000,
 0,
 7450000,
 13250000,
 3160000,
 9690000,
 1490000,
 7090000,
 2700000,
 0,
 0,
 2190000,
 0,
 9020000,
 1040000,
 0,
 0,
 16580000,
 10670000,
 0,
 7370000,
 14780000,
 20300000,
 4380000,
 0,
 17300000,
 14860000,
 0,
 680000,
 2130000,
 8510000,
 11990000,
 6020000,
 0,
 0,
 11290000,
 2040000,
 10960000,
 2870000,
 14930000,
 10070000,
 19440000,
 14010000,
 0,
 13080000,
 1090000,
 4160000,
 5960000,
 2880000,
 13720000,
 12510000,
 0,
 2690000,
 5600000,
 9630000,
 18540000,
 8900000,
 13140000,
 590000,
 2810000,
 11400000,
 11160000,
 21410000,
 17060000,
 11070000,
 8370000,
 9690000,
 8060000,
 0,
 7820000,
 18840000,
 11640000,
 13240000,
 2540000,
 14430000,
 7920000,
 0,
 0,
 0,
 7160000,
 5070000,
 0,
 14720000,
 23370000,
 0,
 0,
 13370000,
 0,
 14480000,
 3180000,
 6600000,
 4310000,
 5720000,
 8590000,
 9110000,
 12220000,
 2540000,
 7490000,
 9110000,
 1460000,
 15010000,
 13610000,
 7200000,
 0,
 16330000,
 6050000,
 0,
 2210000,
 18590000,
 15800000,
 9650000,
 6120000,
 11650000,
 22860000,
 6740000,
 9960000,
 0,
 2250000,
 11550000,
 5830000,
 17270000,
 0,
 3500000,
 12260000,
 9680000,
 0,
 14730000,
 4390000,
 15400000,
 14570000,
 12640000,
 13460000,
 19700000,
 3130000,
 6270000,
 15980000,
 0,
 0,
 9500000,
 10530000,
 8550000,
 14270000,
 11970000,
 17730000,
 6880000,
 0]

In [8]:
df['Paid Loans Sum'] = x
df['Paid Loan Sum'] = x

In [9]:



scaler = MinMaxScaler()
df['Paid Loans Sum'] = scaler.fit_transform(df['Paid Loans Sum'].reshape(-1,1))

C:\Users\mittr\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """
C:\Users\mittr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [10]:

def func(arr):
    
    bias = 1
    
    arr2 = []
    for j in range(len(arr)):
        arr2.append(arr[j])
        
    arr2 = sorted(arr2)
    
    lis = []
    for i in range(len(arr2)):
        elem = bias * arr2[i]
        bias *= 2
        lis.append(elem)
    ans = sum(lis)
    return ans

df['Reference_factor'] = df['Level of Referees'].apply(func)

In [11]:
# Reference factor given more importance than A/c Balance + FDs
df['Reference_factor'] = df['Reference_factor'] / 12

In [12]:
# Reference factor given most importance [Max score = 5]
df['Paid Loans Sum'] = df['Paid Loans Sum'] * 5

In [13]:
df

,ID,A/c Bal,Fixed Deposit,Active Loans,Level of Referees,Paid Loans,col12,Paid Loans Sum,Paid Loan Sum,Reference_factor
0,1000,4392001,77000,[9160000],"[4, 3]","[8490000, 2090000]",0.439601,1.962166,10580000,0.916667
1,1001,4872708,4000,[],"[1, 4, 2]","[5000000, 6960000]",0.480260,2.218101,11960000,1.750000
2,1002,5518306,49000,[7200000],[],"[240000, 510000, 2440000]",0.549130,0.591617,3190000,0.000000
3,1003,7205022,31000,[],[],[3200000],0.715544,0.593472,3200000,0.000000
4,1004,622249,74000,[5500000],"[3, 5, 2]","[2660000, 5670000]",0.063360,1.544881,8330000,2.333333
5,1005,591073,96000,[690000],"[1, 4, 3]",[5040000],0.062445,0.934718,5040000,1.916667
6,1006,3847340,62000,[],[5],"[6380000, 1920000]",0.383788,1.539318,8300000,0.416667
7,1007,7087633,55000,[],[1],"[7930000, 7010000, 7000000]",0.706231,4.068991,21940000,0.083333
8,1008,9555774,49000,[],[],"[3070000, 3220000, 450000]",0.951770,1.250000,6740000,0.000000
9,1009,5748361,17000,[],"[2, 1]","[7930000, 3110000]",0.568881,2.047478,11040000,0.416667
10,1010,23910,37000,[],"[3, 2, 5]","[6820000, 900000, 1530000]",0.000000,1.715504,9250000,2.333333
11,1011,4467666,41000,[6590000],[],[5840000],0.443556,1.083086,5840000,0.000000
12,1012,7134898,43000,[6300000],"[1, 1]",[7130000],0.709748,1.322329,7130000,0.250000
13,1013,6164876,59000,[],"[3, 2, 4]",[6140000],0.614607,1.138724,6140000,2.000000
14,1014,4167844,14000,[],"[1, 4, 3]","[4810000, 3120000]",0.410964,1.470697,7930000,1.916667
15,1015,9844790,23000,[],"[2, 4, 3]",[],0.978000,0.000000,0,2.000000
16,1016,6429096,98000,[290000],"[1, 4]",[],0.644846,0.000000,0,0.750000
17,1017,1106640,56000,[8500000],[2],"[2500000, 4040000]",0.109871,1.212908,6540000,0.166667
18,1018,7395162,97000,[],"[4, 2, 2]","[8610000, 400000, 3890000]",0.741088,2.392433,12900000,1.833333
19,1019,3683237,68000,[],[4],[],0.368021,0.000000,0,0.333333
20,1020,7370825,20000,[1730000],[3],[],0.730982,0.000000,0,0.250000
21,1021,111335,16000,[],[],"[9870000, 1690000, 9630000]",0.006624,3.929896,21190000,0.000000
22,1022,4384778,43000,[8110000],[],"[3170000, 1900000]",0.435490,0.940282,5070000,0.000000
23,1023,1634119,37000,[2020000],[],"[4330000, 2750000, 9050000]",0.160579,2.991469,16130000,0.000000
24,1024,9256262,70000,[],"[5, 5]","[3780000, 3610000]",0.923995,1.370549,7390000,1.250000
25,1025,3950479,93000,[],[1],[],0.397165,0.000000,0,0.083333
26,1026,7917948,20000,[],[3],"[2980000, 1090000, 1030000]",0.785544,0.945846,5100000,0.250000
27,1027,6720742,43000,[4750000],[4],[4380000],0.668446,0.812315,4380000,0.333333
28,1028,3089687,75000,[],[],[8530000],0.309527,1.581973,8530000,0.000000
29,1029,3273457,78000,[],[],[8520000],0.328153,1.580119,8520000,0.000000
...,...,...,...,...,...,...,...,...,...,...
970,1970,6738170,10000,[],"[4, 1]",[],0.666893,0.000000,0,0.750000
971,1971,6313010,4000,[800000],[],[2250000],0.623895,0.417285,2250000,0.000000
972,1972,1856388,20000,[9310000],"[5, 1, 2]","[5410000, 3550000, 2590000]",0.181050,2.142062,11550000,2.083333
973,1973,1411818,92000,[8520000],[3],"[2360000, 3470000]",0.143895,1.081231,5830000,0.250000
974,1974,4996547,19000,[9770000],"[3, 2]","[9170000, 6300000, 1800000]",0.494106,3.202893,17270000,0.666667
975,1975,562276,9000,[9580000],[],[],0.050897,0.000000,0,0.000000
976,1976,4933086,23000,[],"[2, 5]",[3500000],0.488176,0.649110,3500000,1.000000
977,1977,9497068,67000,[5610000],[1],"[6520000, 5740000]",0.947711,2.273739,12260000,0.083333
978,1978,360340,11000,[],"[3, 3, 2]","[6770000, 2910000]",0.030958,1.795252,9680000,1.666667
979,1979,2809097,100000,[],[],[],0.284038,0.000000,0,0.000000
980,1980,3034819,93000,[],"[1, 1, 2]","[7760000, 5790000, 1180000]",0.305850,2.731825,14730000,0.916667
981,1981,9800208,82000,[3220000],"[1, 3]",[4390000],0.979438,0.814169,4390000,0.583333
982,1982,2030713,25000,[],"[3, 2]","[8040000, 7360000]",0.198933,2.856083,15400000,0.666667
983,1983,4930268,44000,[],"[5, 1, 3]","[7350000, 20000, 7200000]",0.489989,2.702151,14570000,2.250000
984,1984,4449276,55000,[],[],"[3940000, 8700000]",0.443119,2.344214,12640000,0.000000
985,1985,2471092,79000,[],"[5, 2]","[6290000, 7170000]",0.248236,2.496291,13460000,1.000000
986,1986,6208712,100000,[6040000],[2],"[9360000, 3720000, 6620000]",0.623068,3.653561,19700000,0.166667
987,1987,3766064,11000,[],[],[3130000],0.370597,0.580490,3130000,0.000000
988,1988,4306217,32000,[],[],"[3870000, 1320000, 1080000]",0.426558,1.162834,6270000,0.000000
989,1989,1059606,70000,[3300000],[1],"[7480000, 6680000, 1820000]",0.106577,2.963650,15980000,0.083333
990,1990,8118166,96000,[5810000],[4],[],0.813091,0.000000,0,0.333333
991,1991,9032326,57000,[],[],[],0.900367,0.000000,0,0.000000
992,1992,8495505,34000,[],"[3, 1, 3]",[9500000],0.844538,1.761869,9500000,1.583333
993,1993,2814719,54000,[],[4],"[4250000, 5390000, 890000]",0.280011,1.952893,10530000,0.333333
994,1994,1792809,83000,[],"[5, 4, 2]",[8550000],0.180992,1.585682,8550000,2.500000
995,1995,4863472,97000,[7100000],[2],"[5520000, 930000, 7820000]",0.488613,2.646513,14270000,0.166667
996,1996,8150911,7000,[6500000],[],"[6810000, 5160000, 0]",0.807480,2.219955,11970000,0.000000
997,1997,5115331,34000,[],"[3, 5, 2]","[9040000, 8690000]",0.507447,3.288205,17730000,2.333333
998,1998,8818911,89000,[8600000],"[3, 3, 4]","[1710000, 3390000, 1780000]",0.882275,1.275964,6880000,2.083333
999,1999,8441683,79000,[],"[2, 3]",[],0.843658,0.000000,0,0.666667

In [14]:
lis = []
for x in df['Active Loans'].iteritems():
    if len(x[1]) > 0:
        lis.append((x[1][0]) / 1000000)
    else:
        lis.append(0)
lis

[9.16,
 0,
 7.2,
 0,
 5.5,
 0.69,
 0,
 0,
 0,
 0,
 0,
 6.59,
 6.3,
 0,
 0,
 0,
 0.29,
 8.5,
 0,
 0,
 1.73,
 0,
 8.11,
 2.02,
 0,
 0,
 0,
 4.75,
 0,
 0,
 4.36,
 0,
 0,
 9.35,
 7.01,
 0,
 7.49,
 1.22,
 0.29,
 0,
 0,
 9.59,
 0,
 0,
 6.16,
 5.16,
 4.08,
 7.03,
 9.97,
 0,
 1.73,
 6.82,
 0,
 7.79,
 7.81,
 2.97,
 6.31,
 7.57,
 0,
 0,
 9.11,
 0,
 5.26,
 4.89,
 0,
 6.0,
 7.93,
 0,
 0,
 7.33,
 0,
 0,
 0,
 0,
 0,
 9.91,
 3.05,
 0,
 5.14,
 4.12,
 4.44,
 0,
 0,
 5.46,
 2.15,
 5.35,
 9.5,
 0,
 0,
 4.48,
 2.63,
 8.31,
 0,
 6.33,
 0,
 7.62,
 0,
 0,
 3.38,
 0,
 0,
 0,
 1.01,
 2.47,
 7.27,
 0,
 0.12,
 9.62,
 0,
 0,
 9.85,
 0,
 0,
 9.85,
 5.66,
 7.6,
 2.4,
 4.37,
 0,
 0,
 0,
 0,
 0,
 0,
 6.98,
 3.99,
 0,
 9.57,
 0,
 7.78,
 0,
 0,
 0,
 0,
 4.23,
 1.04,
 0,
 0,
 0,
 3.99,
 7.95,
 6.39,
 0,
 4.61,
 0,
 0,
 0,
 0,
 0,
 0,
 7.84,
 1.75,
 0,
 4.2,
 3.51,
 0.85,
 0,
 9.5,
 0,
 0,
 0,
 7.68,
 5.24,
 4.64,
 0,
 0,
 2.78,
 0,
 0,
 5.86,
 0,
 0,
 0,
 0,
 6.78,
 0,
 0,
 5.11,
 0,
 0,
 5.07,
 0,
 0.27,
 0.19,
 9.59,
 2.56,
 0,
 5.79,
 0,
 6.64,
 0,
 0,
 0,
 6.1,
 0,
 0,
 0,
 0,
 0,
 2.89,
 9.12,
 0,
 1.34,
 3.71,
 0,
 2.6,
 0,
 0,
 0,
 4.02,
 4.57,
 7.58,
 9.96,
 0,
 0,
 0,
 1.14,
 0.89,
 0,
 2.85,
 0,
 7.37,
 0,
 0,
 9.45,
 6.53,
 0,
 0,
 0,
 6.89,
 0,
 5.56,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3.93,
 9.21,
 9.43,
 0,
 6.07,
 9.86,
 0,
 0,
 7.98,
 9.93,
 5.72,
 0,
 4.29,
 0,
 4.83,
 7.67,
 0,
 6.82,
 1.48,
 0,
 3.4,
 2.7,
 4.27,
 7.39,
 0,
 0,
 0,
 0,
 2.98,
 9.07,
 0,
 2.45,
 5.12,
 0,
 0,
 3.47,
 0,
 0,
 7.51,
 0,
 1.5,
 0,
 0,
 0,
 0,
 0,
 1.88,
 4.41,
 0,
 4.7,
 0.68,
 0,
 1.94,
 9.55,
 4.74,
 2.56,
 4.45,
 3.72,
 7.03,
 0,
 6.9,
 0,
 3.49,
 0,
 0,
 0,
 0,
 1.25,
 0,
 8.75,
 2.68,
 0,
 9.34,
 0,
 8.31,
 0,
 7.7,
 2.55,
 0,
 4.47,
 6.53,
 3.4,
 4.96,
 4.57,
 0,
 0,
 2.84,
 0.95,
 5.99,
 1.69,
 0,
 8.84,
 0,
 0,
 1.58,
 2.45,
 0,
 0,
 3.3,
 0,
 2.42,
 0,
 6.57,
 0.05,
 0,
 4.07,
 0,
 8.79,
 4.15,
 6.37,
 5.22,
 0,
 3.34,
 0,
 2.63,
 0.7,
 0,
 3.5,
 3.27,
 0,
 1.32,
 8.76,
 0,
 0,
 8.77,
 3.16,
 0.34,
 3.48,
 3.3,
 0,
 0,
 0,
 7.99,
 0,
 3.15,
 8.06,
 0,
 1.92,
 6.04,
 7.63,
 0,
 0.02,
 0,
 0,
 0,
 0,
 6.67,
 0,
 1.29,
 4.74,
 0,
 0,
 0,
 0,
 0,
 8.41,
 4.54,
 5.6,
 2.52,
 0,
 0.33,
 5.86,
 5.47,
 2.32,
 4.25,
 4.95,
 0,
 6.03,
 4.72,
 9.47,
 0,
 0,
 8.6,
 6.17,
 3.22,
 0,
 2.7,
 7.76,
 2.7,
 0,
 0,
 7.18,
 0,
 0,
 0,
 0,
 4.23,
 5.27,
 3.85,
 0,
 5.24,
 0,
 2.36,
 0,
 0.99,
 3.96,
 0,
 5.34,
 0,
 0,
 0,
 0,
 2.9,
 1.47,
 0,
 1.53,
 0,
 0.37,
 3.41,
 0,
 1.55,
 4.08,
 0,
 5.9,
 5.96,
 7.26,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3.35,
 8.78,
 0,
 3.99,
 9.33,
 0,
 4.09,
 0.3,
 8.96,
 7.8,
 9.26,
 1.8,
 2.27,
 5.27,
 0.58,
 6.59,
 0,
 0,
 7.3,
 3.66,
 4.57,
 6.76,
 9.16,
 0,
 0.1,
 9.79,
 7.77,
 4.35,
 7.3,
 0,
 0,
 0,
 8.42,
 8.03,
 0,
 6.93,
 4.45,
 8.73,
 1.0,
 0,
 0,
 1.4,
 0,
 6.97,
 8.19,
 7.01,
 3.58,
 0,
 5.58,
 9.18,
 0.9,
 2.46,
 0,
 0,
 0,
 0,
 7.38,
 0,
 7.39,
 7.44,
 6.45,
 9.95,
 0,
 0,
 0,
 0,
 1.08,
 0,
 9.93,
 0.2,
 3.87,
 4.99,
 0,
 0,
 8.93,
 0,
 0,
 8.39,
 4.54,
 0,
 6.65,
 4.38,
 6.66,
 6.37,
 0.89,
 4.27,
 0,
 5.58,
 0,
 0.02,
 0,
 0,
 0,
 0,
 5.72,
 4.55,
 0,
 0,
 1.45,
 3.09,
 0,
 2.58,
 0.1,
 0,
 5.28,
 1.52,
 0,
 0.62,
 3.39,
 8.99,
 2.93,
 0,
 8.83,
 1.35,
 6.07,
 0,
 8.19,
 1.31,
 8.65,
 4.63,
 8.15,
 9.36,
 5.17,
 9.36,
 1.08,
 3.37,
 0,
 6.71,
 7.52,
 0,
 3.85,
 0,
 3.1,
 0,
 0,
 4.68,
 3.77,
 4.84,
 7.88,
 4.34,
 9.69,
 0,
 6.54,
 0,
 0,
 0,
 0,
 0,
 6.4,
 0,
 0,
 5.87,
 0,
 5.97,
 0,
 2.87,
 5.57,
 5.23,
 5.09,
 9.88,
 3.4,
 0,
 0,
 9.65,
 9.51,
 0.12,
 2.05,
 0,
 0,
 9.59,
 0,
 0,
 4.92,
 0,
 0,
 0,
 7.43,
 0,
 3.19,
 0,
 8.33,
 0,
 0,
 9.8,
 0,
 1.11,
 0,
 0,
 0,
 7.18,
 3.92,
 0.73,
 0,
 7.66,
 5.43,
 0,
 0,
 9.81,
 0,
 0,
 0,
 9.5,
 0,
 0,
 4.47,
 1.43,
 0,
 0,
 7.58,
 4.99,
 9.49,
 0,
 8.19,
 5.51,
 7.89,
 0,
 0,
 0,
 8.22,
 0,
 7.7,
 0,
 0,
 0,
 0,
 5.45,
 4.8,
 3.0,
 4.86,
 0,
 6.34,
 3.75,
 0,
 0,
 0,
 0,
 8.04,
 0.61,
 0,
 1.66,
 7.41,
 0,
 0,
 0,
 0,
 5.39,
 0,
 6.99,
 1.53,
 8.77,
 4.87,
 1.35,
 0,
 5.65,
 2.47,
 5.22,
 0,
 0,
 0,
 0,
 5.63,
 4.61,
 0,
 2.23,
 0,
 7.58,
 1.68,
 0,
 0,
 0,
 4.96,
 3.42,
 1.5,
 3.3,
 0,
 0,
 6.19,
 1.78,
 6.48,
 5.14,
 0,
 3.14,
 0,
 0,
 3.88,
 2.56,
 5.58,
 0,
 8.81,
 8.74,
 0,
 0.72,
 6.53,
 0,
 0,
 7.95,
 2.42,
 8.79,
 0.91,
 0,
 6.78,
 7.57,
 8.73,
 1.51,
 0,
 0,
 0,
 5.79,
 4.17,
 8.93,
 1.94,
 0,
 0.18,
 4.36,
 2.56,
 0,
 7.39,
 0,
 0,
 0,
 4.89,
 8.88,
 0,
 0,
 8.27,
 9.75,
 0,
 0,
 0,
 0,
 0,
 7.96,
 0,
 4.22,
 0.9,
 2.86,
 7.79,
 0,
 0,
 0,
 0,
 0,
 5.73,
 0,
 0,
 0,
 0,
 0,
 8.61,
 0,
 0,
 0,
 0,
 8.46,
 0,
 0,
 7.39,
 5.04,
 3.01,
 1.46,
 5.56,
 2.08,
 0,
 0,
 9.89,
 0,
 0,
 3.92,
 4.79,
 0.56,
 7.91,
 4.52,
 0,
 0,
 0,
 0,
 0,
 0,
 0.94,
 0,
 0,
 0,
 0,
 0,
 8.98,
 0,
 0,
 0,
 0,
 8.84,
 0,
 0,
 7.0,
 5.23,
 0,
 0,
 0,
 0.59,
 0,
 0,
 8.52,
 8.39,
 5.18,
 0,
 7.66,
 0,
 0,
 0,
 4.43,
 8.87,
 0,
 0,
 2.57,
 0,
 5.21,
 9.18,
 0,
 0,
 1.62,
 0,
 0,
 0,
 0.41,
 1.2,
 3.8,
 7.6,
 0,
 0,
 0,
 0,
 9.28,
 0.01,
 0,
 9.74,
 8.31,
 0,
 7.34,
 0,
 4.75,
 5.6,
 3.66,
 4.48,
 0,
 5.97,
 0,
 1.21,
 0,
 0,
 0,
 8.67,
 0,
 0,
 0,
 1.38,
 0,
 4.99,
 5.4,
 2.97,
 8.15,
 4.7,
 0,
 0,
 1.74,
 0,
 0,
 4.71,
 0,
 0,
 0,
 0,
 2.71,
 3.77,
 0,
 2.86,
 9.49,
 5.52,
 0,
 3.72,
 0,
 4.56,
 9.61,
 0,
 4.94,
 2.66,
 0,
 0,
 6.67,
 0,
 0,
 0,
 3.83,
 6.35,
 0,
 0,
 0,
 0,
 0,
 6.35,
 6.96,
 0,
 0,
 0.39,
 0,
 7.83,
 1.71,
 0,
 0,
 0.8,
 9.31,
 8.52,
 9.77,
 9.58,
 0,
 5.61,
 0,
 0,
 0,
 3.22,
 0,
 0,
 0,
 0,
 6.04,
 0,
 0,
 3.3,
 5.81,
 0,
 0,
 0,
 0,
 7.1,
 6.5,
 0,
 8.6,
 0]

In [15]:
lis2 = []
for x in lis:
    new = x * -1
    lis2.append(new)

In [16]:
lis2

[-9.16,
 0,
 -7.2,
 0,
 -5.5,
 -0.69,
 0,
 0,
 0,
 0,
 0,
 -6.59,
 -6.3,
 0,
 0,
 0,
 -0.29,
 -8.5,
 0,
 0,
 -1.73,
 0,
 -8.11,
 -2.02,
 0,
 0,
 0,
 -4.75,
 0,
 0,
 -4.36,
 0,
 0,
 -9.35,
 -7.01,
 0,
 -7.49,
 -1.22,
 -0.29,
 0,
 0,
 -9.59,
 0,
 0,
 -6.16,
 -5.16,
 -4.08,
 -7.03,
 -9.97,
 0,
 -1.73,
 -6.82,
 0,
 -7.79,
 -7.81,
 -2.97,
 -6.31,
 -7.57,
 0,
 0,
 -9.11,
 0,
 -5.26,
 -4.89,
 0,
 -6.0,
 -7.93,
 0,
 0,
 -7.33,
 0,
 0,
 0,
 0,
 0,
 -9.91,
 -3.05,
 0,
 -5.14,
 -4.12,
 -4.44,
 0,
 0,
 -5.46,
 -2.15,
 -5.35,
 -9.5,
 0,
 0,
 -4.48,
 -2.63,
 -8.31,
 0,
 -6.33,
 0,
 -7.62,
 0,
 0,
 -3.38,
 0,
 0,
 0,
 -1.01,
 -2.47,
 -7.27,
 0,
 -0.12,
 -9.62,
 0,
 0,
 -9.85,
 0,
 0,
 -9.85,
 -5.66,
 -7.6,
 -2.4,
 -4.37,
 0,
 0,
 0,
 0,
 0,
 0,
 -6.98,
 -3.99,
 0,
 -9.57,
 0,
 -7.78,
 0,
 0,
 0,
 0,
 -4.23,
 -1.04,
 0,
 0,
 0,
 -3.99,
 -7.95,
 -6.39,
 0,
 -4.61,
 0,
 0,
 0,
 0,
 0,
 0,
 -7.84,
 -1.75,
 0,
 -4.2,
 -3.51,
 -0.85,
 0,
 -9.5,
 0,
 0,
 0,
 -7.68,
 -5.24,
 -4.64,
 0,
 0,
 -2.78,
 0,
 0,
 -5.86,
 0,
 0,
 0,
 0,
 -6.78,
 0,
 0,
 -5.11,
 0,
 0,
 -5.07,
 0,
 -0.27,
 -0.19,
 -9.59,
 -2.56,
 0,
 -5.79,
 0,
 -6.64,
 0,
 0,
 0,
 -6.1,
 0,
 0,
 0,
 0,
 0,
 -2.89,
 -9.12,
 0,
 -1.34,
 -3.71,
 0,
 -2.6,
 0,
 0,
 0,
 -4.02,
 -4.57,
 -7.58,
 -9.96,
 0,
 0,
 0,
 -1.14,
 -0.89,
 0,
 -2.85,
 0,
 -7.37,
 0,
 0,
 -9.45,
 -6.53,
 0,
 0,
 0,
 -6.89,
 0,
 -5.56,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 -3.93,
 -9.21,
 -9.43,
 0,
 -6.07,
 -9.86,
 0,
 0,
 -7.98,
 -9.93,
 -5.72,
 0,
 -4.29,
 0,
 -4.83,
 -7.67,
 0,
 -6.82,
 -1.48,
 0,
 -3.4,
 -2.7,
 -4.27,
 -7.39,
 0,
 0,
 0,
 0,
 -2.98,
 -9.07,
 0,
 -2.45,
 -5.12,
 0,
 0,
 -3.47,
 0,
 0,
 -7.51,
 0,
 -1.5,
 0,
 0,
 0,
 0,
 0,
 -1.88,
 -4.41,
 0,
 -4.7,
 -0.68,
 0,
 -1.94,
 -9.55,
 -4.74,
 -2.56,
 -4.45,
 -3.72,
 -7.03,
 0,
 -6.9,
 0,
 -3.49,
 0,
 0,
 0,
 0,
 -1.25,
 0,
 -8.75,
 -2.68,
 0,
 -9.34,
 0,
 -8.31,
 0,
 -7.7,
 -2.55,
 0,
 -4.47,
 -6.53,
 -3.4,
 -4.96,
 -4.57,
 0,
 0,
 -2.84,
 -0.95,
 -5.99,
 -1.69,
 0,
 -8.84,
 0,
 0,
 -1.58,
 -2.45,
 0,
 0,
 -3.3,
 0,
 -2.42,
 0,
 -6.57,
 -0.05,
 0,
 -4.07,
 0,
 -8.79,
 -4.15,
 -6.37,
 -5.22,
 0,
 -3.34,
 0,
 -2.63,
 -0.7,
 0,
 -3.5,
 -3.27,
 0,
 -1.32,
 -8.76,
 0,
 0,
 -8.77,
 -3.16,
 -0.34,
 -3.48,
 -3.3,
 0,
 0,
 0,
 -7.99,
 0,
 -3.15,
 -8.06,
 0,
 -1.92,
 -6.04,
 -7.63,
 0,
 -0.02,
 0,
 0,
 0,
 0,
 -6.67,
 0,
 -1.29,
 -4.74,
 0,
 0,
 0,
 0,
 0,
 -8.41,
 -4.54,
 -5.6,
 -2.52,
 0,
 -0.33,
 -5.86,
 -5.47,
 -2.32,
 -4.25,
 -4.95,
 0,
 -6.03,
 -4.72,
 -9.47,
 0,
 0,
 -8.6,
 -6.17,
 -3.22,
 0,
 -2.7,
 -7.76,
 -2.7,
 0,
 0,
 -7.18,
 0,
 0,
 0,
 0,
 -4.23,
 -5.27,
 -3.85,
 0,
 -5.24,
 0,
 -2.36,
 0,
 -0.99,
 -3.96,
 0,
 -5.34,
 0,
 0,
 0,
 0,
 -2.9,
 -1.47,
 0,
 -1.53,
 0,
 -0.37,
 -3.41,
 0,
 -1.55,
 -4.08,
 0,
 -5.9,
 -5.96,
 -7.26,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 -3.35,
 -8.78,
 0,
 -3.99,
 -9.33,
 0,
 -4.09,
 -0.3,
 -8.96,
 -7.8,
 -9.26,
 -1.8,
 -2.27,
 -5.27,
 -0.58,
 -6.59,
 0,
 0,
 -7.3,
 -3.66,
 -4.57,
 -6.76,
 -9.16,
 0,
 -0.1,
 -9.79,
 -7.77,
 -4.35,
 -7.3,
 0,
 0,
 0,
 -8.42,
 -8.03,
 0,
 -6.93,
 -4.45,
 -8.73,
 -1.0,
 0,
 0,
 -1.4,
 0,
 -6.97,
 -8.19,
 -7.01,
 -3.58,
 0,
 -5.58,
 -9.18,
 -0.9,
 -2.46,
 0,
 0,
 0,
 0,
 -7.38,
 0,
 -7.39,
 -7.44,
 -6.45,
 -9.95,
 0,
 0,
 0,
 0,
 -1.08,
 0,
 -9.93,
 -0.2,
 -3.87,
 -4.99,
 0,
 0,
 -8.93,
 0,
 0,
 -8.39,
 -4.54,
 0,
 -6.65,
 -4.38,
 -6.66,
 -6.37,
 -0.89,
 -4.27,
 0,
 -5.58,
 0,
 -0.02,
 0,
 0,
 0,
 0,
 -5.72,
 -4.55,
 0,
 0,
 -1.45,
 -3.09,
 0,
 -2.58,
 -0.1,
 0,
 -5.28,
 -1.52,
 0,
 -0.62,
 -3.39,
 -8.99,
 -2.93,
 0,
 -8.83,
 -1.35,
 -6.07,
 0,
 -8.19,
 -1.31,
 -8.65,
 -4.63,
 -8.15,
 -9.36,
 -5.17,
 -9.36,
 -1.08,
 -3.37,
 0,
 -6.71,
 -7.52,
 0,
 -3.85,
 0,
 -3.1,
 0,
 0,
 -4.68,
 -3.77,
 -4.84,
 -7.88,
 -4.34,
 -9.69,
 0,
 -6.54,
 0,
 0,
 0,
 0,
 0,
 -6.4,
 0,
 0,
 -5.87,
 0,
 -5.97,
 0,
 -2.87,
 -5.57,
 -5.23,
 -5.09,
 -9.88,
 -3.4,
 0,
 0,
 -9.65,
 -9.51,
 -0.12,
 -2.05,
 0,
 0,
 -9.59,
 0,
 0,
 -4.92,
 0,
 0,
 0,
 -7.43,
 0,
 -3.19,
 0,
 -8.33,
 0,
 0,
 -9.8,
 0,
 -1.11,
 0,
 0,
 0,
 -7.18,
 -3.92,
 -0.73,
 0,
 -7.66,
 -5.43,
 0,
 0,
 -9.81,
 0,
 0,
 0,
 -9.5,
 0,
 0,
 -4.47,
 -1.43,
 0,
 0,
 -7.58,
 -4.99,
 -9.49,
 0,
 -8.19,
 -5.51,
 -7.89,
 0,
 0,
 0,
 -8.22,
 0,
 -7.7,
 0,
 0,
 0,
 0,
 -5.45,
 -4.8,
 -3.0,
 -4.86,
 0,
 -6.34,
 -3.75,
 0,
 0,
 0,
 0,
 -8.04,
 -0.61,
 0,
 -1.66,
 -7.41,
 0,
 0,
 0,
 0,
 -5.39,
 0,
 -6.99,
 -1.53,
 -8.77,
 -4.87,
 -1.35,
 0,
 -5.65,
 -2.47,
 -5.22,
 0,
 0,
 0,
 0,
 -5.63,
 -4.61,
 0,
 -2.23,
 0,
 -7.58,
 -1.68,
 0,
 0,
 0,
 -4.96,
 -3.42,
 -1.5,
 -3.3,
 0,
 0,
 -6.19,
 -1.78,
 -6.48,
 -5.14,
 0,
 -3.14,
 0,
 0,
 -3.88,
 -2.56,
 -5.58,
 0,
 -8.81,
 -8.74,
 0,
 -0.72,
 -6.53,
 0,
 0,
 -7.95,
 -2.42,
 -8.79,
 -0.91,
 0,
 -6.78,
 -7.57,
 -8.73,
 -1.51,
 0,
 0,
 0,
 -5.79,
 -4.17,
 -8.93,
 -1.94,
 0,
 -0.18,
 -4.36,
 -2.56,
 0,
 -7.39,
 0,
 0,
 0,
 -4.89,
 -8.88,
 0,
 0,
 -8.27,
 -9.75,
 0,
 0,
 0,
 0,
 0,
 -7.96,
 0,
 -4.22,
 -0.9,
 -2.86,
 -7.79,
 0,
 0,
 0,
 0,
 0,
 -5.73,
 0,
 0,
 0,
 0,
 0,
 -8.61,
 0,
 0,
 0,
 0,
 -8.46,
 0,
 0,
 -7.39,
 -5.04,
 -3.01,
 -1.46,
 -5.56,
 -2.08,
 0,
 0,
 -9.89,
 0,
 0,
 -3.92,
 -4.79,
 -0.56,
 -7.91,
 -4.52,
 0,
 0,
 0,
 0,
 0,
 0,
 -0.94,
 0,
 0,
 0,
 0,
 0,
 -8.98,
 0,
 0,
 0,
 0,
 -8.84,
 0,
 0,
 -7.0,
 -5.23,
 0,
 0,
 0,
 -0.59,
 0,
 0,
 -8.52,
 -8.39,
 -5.18,
 0,
 -7.66,
 0,
 0,
 0,
 -4.43,
 -8.87,
 0,
 0,
 -2.57,
 0,
 -5.21,
 -9.18,
 0,
 0,
 -1.62,
 0,
 0,
 0,
 -0.41,
 -1.2,
 -3.8,
 -7.6,
 0,
 0,
 0,
 0,
 -9.28,
 -0.01,
 0,
 -9.74,
 -8.31,
 0,
 -7.34,
 0,
 -4.75,
 -5.6,
 -3.66,
 -4.48,
 0,
 -5.97,
 0,
 -1.21,
 0,
 0,
 0,
 -8.67,
 0,
 0,
 0,
 -1.38,
 0,
 -4.99,
 -5.4,
 -2.97,
 -8.15,
 -4.7,
 0,
 0,
 -1.74,
 0,
 0,
 -4.71,
 0,
 0,
 0,
 0,
 -2.71,
 -3.77,
 0,
 -2.86,
 -9.49,
 -5.52,
 0,
 -3.72,
 0,
 -4.56,
 -9.61,
 0,
 -4.94,
 -2.66,
 0,
 0,
 -6.67,
 0,
 0,
 0,
 -3.83,
 -6.35,
 0,
 0,
 0,
 0,
 0,
 -6.35,
 -6.96,
 0,
 0,
 -0.39,
 0,
 -7.83,
 -1.71,
 0,
 0,
 -0.8,
 -9.31,
 -8.52,
 -9.77,
 -9.58,
 0,
 -5.61,
 0,
 0,
 0,
 -3.22,
 0,
 0,
 0,
 0,
 -6.04,
 0,
 0,
 -3.3,
 -5.81,
 0,
 0,
 0,
 0,
 -7.1,
 -6.5,
 0,
 -8.6,
 0]

In [17]:
df['penalty_active_loans'] = lis2

In [18]:
df

,ID,A/c Bal,Fixed Deposit,Active Loans,Level of Referees,Paid Loans,col12,Paid Loans Sum,Paid Loan Sum,Reference_factor,penalty_active_loans
0,1000,4392001,77000,[9160000],"[4, 3]","[8490000, 2090000]",0.439601,1.962166,10580000,0.916667,-9.16
1,1001,4872708,4000,[],"[1, 4, 2]","[5000000, 6960000]",0.480260,2.218101,11960000,1.750000,0.00
2,1002,5518306,49000,[7200000],[],"[240000, 510000, 2440000]",0.549130,0.591617,3190000,0.000000,-7.20
3,1003,7205022,31000,[],[],[3200000],0.715544,0.593472,3200000,0.000000,0.00
4,1004,622249,74000,[5500000],"[3, 5, 2]","[2660000, 5670000]",0.063360,1.544881,8330000,2.333333,-5.50
5,1005,591073,96000,[690000],"[1, 4, 3]",[5040000],0.062445,0.934718,5040000,1.916667,-0.69
6,1006,3847340,62000,[],[5],"[6380000, 1920000]",0.383788,1.539318,8300000,0.416667,0.00
7,1007,7087633,55000,[],[1],"[7930000, 7010000, 7000000]",0.706231,4.068991,21940000,0.083333,0.00
8,1008,9555774,49000,[],[],"[3070000, 3220000, 450000]",0.951770,1.250000,6740000,0.000000,0.00
9,1009,5748361,17000,[],"[2, 1]","[7930000, 3110000]",0.568881,2.047478,11040000,0.416667,0.00
10,1010,23910,37000,[],"[3, 2, 5]","[6820000, 900000, 1530000]",0.000000,1.715504,9250000,2.333333,0.00
11,1011,4467666,41000,[6590000],[],[5840000],0.443556,1.083086,5840000,0.000000,-6.59
12,1012,7134898,43000,[6300000],"[1, 1]",[7130000],0.709748,1.322329,7130000,0.250000,-6.30
13,1013,6164876,59000,[],"[3, 2, 4]",[6140000],0.614607,1.138724,6140000,2.000000,0.00
14,1014,4167844,14000,[],"[1, 4, 3]","[4810000, 3120000]",0.410964,1.470697,7930000,1.916667,0.00
15,1015,9844790,23000,[],"[2, 4, 3]",[],0.978000,0.000000,0,2.000000,0.00
16,1016,6429096,98000,[290000],"[1, 4]",[],0.644846,0.000000,0,0.750000,-0.29
17,1017,1106640,56000,[8500000],[2],"[2500000, 4040000]",0.109871,1.212908,6540000,0.166667,-8.50
18,1018,7395162,97000,[],"[4, 2, 2]","[8610000, 400000, 3890000]",0.741088,2.392433,12900000,1.833333,0.00
19,1019,3683237,68000,[],[4],[],0.368021,0.000000,0,0.333333,0.00
20,1020,7370825,20000,[1730000],[3],[],0.730982,0.000000,0,0.250000,-1.73
21,1021,111335,16000,[],[],"[9870000, 1690000, 9630000]",0.006624,3.929896,21190000,0.000000,0.00
22,1022,4384778,43000,[8110000],[],"[3170000, 1900000]",0.435490,0.940282,5070000,0.000000,-8.11
23,1023,1634119,37000,[2020000],[],"[4330000, 2750000, 9050000]",0.160579,2.991469,16130000,0.000000,-2.02
24,1024,9256262,70000,[],"[5, 5]","[3780000, 3610000]",0.923995,1.370549,7390000,1.250000,0.00
25,1025,3950479,93000,[],[1],[],0.397165,0.000000,0,0.083333,0.00
26,1026,7917948,20000,[],[3],"[2980000, 1090000, 1030000]",0.785544,0.945846,5100000,0.250000,0.00
27,1027,6720742,43000,[4750000],[4],[4380000],0.668446,0.812315,4380000,0.333333,-4.75
28,1028,3089687,75000,[],[],[8530000],0.309527,1.581973,8530000,0.000000,0.00
29,1029,3273457,78000,[],[],[8520000],0.328153,1.580119,8520000,0.000000,0.00
...,...,...,...,...,...,...,...,...,...,...,...
970,1970,6738170,10000,[],"[4, 1]",[],0.666893,0.000000,0,0.750000,0.00
971,1971,6313010,4000,[800000],[],[2250000],0.623895,0.417285,2250000,0.000000,-0.80
972,1972,1856388,20000,[9310000],"[5, 1, 2]","[5410000, 3550000, 2590000]",0.181050,2.142062,11550000,2.083333,-9.31
973,1973,1411818,92000,[8520000],[3],"[2360000, 3470000]",0.143895,1.081231,5830000,0.250000,-8.52
974,1974,4996547,19000,[9770000],"[3, 2]","[9170000, 6300000, 1800000]",0.494106,3.202893,17270000,0.666667,-9.77
975,1975,562276,9000,[9580000],[],[],0.050897,0.000000,0,0.000000,-9.58
976,1976,4933086,23000,[],"[2, 5]",[3500000],0.488176,0.649110,3500000,1.000000,0.00
977,1977,9497068,67000,[5610000],[1],"[6520000, 5740000]",0.947711,2.273739,12260000,0.083333,-5.61
978,1978,360340,11000,[],"[3, 3, 2]","[6770000, 2910000]",0.030958,1.795252,9680000,1.666667,0.00
979,1979,2809097,100000,[],[],[],0.284038,0.000000,0,0.000000,0.00
980,1980,3034819,93000,[],"[1, 1, 2]","[7760000, 5790000, 1180000]",0.305850,2.731825,14730000,0.916667,0.00
981,1981,9800208,82000,[3220000],"[1, 3]",[4390000],0.979438,0.814169,4390000,0.583333,-3.22
982,1982,2030713,25000,[],"[3, 2]","[8040000, 7360000]",0.198933,2.856083,15400000,0.666667,0.00
983,1983,4930268,44000,[],"[5, 1, 3]","[7350000, 20000, 7200000]",0.489989,2.702151,14570000,2.250000,0.00
984,1984,4449276,55000,[],[],"[3940000, 8700000]",0.443119,2.344214,12640000,0.000000,0.00
985,1985,2471092,79000,[],"[5, 2]","[6290000, 7170000]",0.248236,2.496291,13460000,1.000000,0.00
986,1986,6208712,100000,[6040000],[2],"[9360000, 3720000, 6620000]",0.623068,3.653561,19700000,0.166667,-6.04
987,1987,3766064,11000,[],[],[3130000],0.370597,0.580490,3130000,0.000000,0.00
988,1988,4306217,32000,[],[],"[3870000, 1320000, 1080000]",0.426558,1.162834,6270000,0.000000,0.00
989,1989,1059606,70000,[3300000],[1],"[7480000, 6680000, 1820000]",0.106577,2.963650,15980000,0.083333,-3.30
990,1990,8118166,96000,[5810000],[4],[],0.813091,0.000000,0,0.333333,-5.81
991,1991,9032326,57000,[],[],[],0.900367,0.000000,0,0.000000,0.00
992,1992,8495505,34000,[],"[3, 1, 3]",[9500000],0.844538,1.761869,9500000,1.583333,0.00
993,1993,2814719,54000,[],[4],"[4250000, 5390000, 890000]",0.280011,1.952893,10530000,0.333333,0.00
994,1994,1792809,83000,[],"[5, 4, 2]",[8550000],0.180992,1.585682,8550000,2.500000,0.00
995,1995,4863472,97000,[7100000],[2],"[5520000, 930000, 7820000]",0.488613,2.646513,14270000,0.166667,-7.10
996,1996,8150911,7000,[6500000],[],"[6810000, 5160000, 0]",0.807480,2.219955,11970000,0.000000,-6.50
997,1997,5115331,34000,[],"[3, 5, 2]","[9040000, 8690000]",0.507447,3.288205,17730000,2.333333,0.00
998,1998,8818911,89000,[8600000],"[3, 3, 4]","[1710000, 3390000, 1780000]",0.882275,1.275964,6880000,2.083333,-8.60
999,1999,8441683,79000,[],"[2, 3]",[],0.843658,0.000000,0,0.666667,0.00

In [19]:
df['final'] = df['col12'] + df['Paid Loans Sum'] + df['Reference_factor'] + df['penalty_active_loans']

In [20]:
df

,ID,A/c Bal,Fixed Deposit,Active Loans,Level of Referees,Paid Loans,col12,Paid Loans Sum,Paid Loan Sum,Reference_factor,penalty_active_loans,final
0,1000,4392001,77000,[9160000],"[4, 3]","[8490000, 2090000]",0.439601,1.962166,10580000,0.916667,-9.16,-5.841566
1,1001,4872708,4000,[],"[1, 4, 2]","[5000000, 6960000]",0.480260,2.218101,11960000,1.750000,0.00,4.448361
2,1002,5518306,49000,[7200000],[],"[240000, 510000, 2440000]",0.549130,0.591617,3190000,0.000000,-7.20,-6.059253
3,1003,7205022,31000,[],[],[3200000],0.715544,0.593472,3200000,0.000000,0.00,1.309016
4,1004,622249,74000,[5500000],"[3, 5, 2]","[2660000, 5670000]",0.063360,1.544881,8330000,2.333333,-5.50,-1.558426
5,1005,591073,96000,[690000],"[1, 4, 3]",[5040000],0.062445,0.934718,5040000,1.916667,-0.69,2.223829
6,1006,3847340,62000,[],[5],"[6380000, 1920000]",0.383788,1.539318,8300000,0.416667,0.00,2.339772
7,1007,7087633,55000,[],[1],"[7930000, 7010000, 7000000]",0.706231,4.068991,21940000,0.083333,0.00,4.858555
8,1008,9555774,49000,[],[],"[3070000, 3220000, 450000]",0.951770,1.250000,6740000,0.000000,0.00,2.201770
9,1009,5748361,17000,[],"[2, 1]","[7930000, 3110000]",0.568881,2.047478,11040000,0.416667,0.00,3.033026
10,1010,23910,37000,[],"[3, 2, 5]","[6820000, 900000, 1530000]",0.000000,1.715504,9250000,2.333333,0.00,4.048838
11,1011,4467666,41000,[6590000],[],[5840000],0.443556,1.083086,5840000,0.000000,-6.59,-5.063358
12,1012,7134898,43000,[6300000],"[1, 1]",[7130000],0.709748,1.322329,7130000,0.250000,-6.30,-4.017923
13,1013,6164876,59000,[],"[3, 2, 4]",[6140000],0.614607,1.138724,6140000,2.000000,0.00,3.753331
14,1014,4167844,14000,[],"[1, 4, 3]","[4810000, 3120000]",0.410964,1.470697,7930000,1.916667,0.00,3.798328
15,1015,9844790,23000,[],"[2, 4, 3]",[],0.978000,0.000000,0,2.000000,0.00,2.978000
16,1016,6429096,98000,[290000],"[1, 4]",[],0.644846,0.000000,0,0.750000,-0.29,1.104846
17,1017,1106640,56000,[8500000],[2],"[2500000, 4040000]",0.109871,1.212908,6540000,0.166667,-8.50,-7.010554
18,1018,7395162,97000,[],"[4, 2, 2]","[8610000, 400000, 3890000]",0.741088,2.392433,12900000,1.833333,0.00,4.966855
19,1019,3683237,68000,[],[4],[],0.368021,0.000000,0,0.333333,0.00,0.701354
20,1020,7370825,20000,[1730000],[3],[],0.730982,0.000000,0,0.250000,-1.73,-0.749018
21,1021,111335,16000,[],[],"[9870000, 1690000, 9630000]",0.006624,3.929896,21190000,0.000000,0.00,3.936520
22,1022,4384778,43000,[8110000],[],"[3170000, 1900000]",0.435490,0.940282,5070000,0.000000,-8.11,-6.734228
23,1023,1634119,37000,[2020000],[],"[4330000, 2750000, 9050000]",0.160579,2.991469,16130000,0.000000,-2.02,1.132048
24,1024,9256262,70000,[],"[5, 5]","[3780000, 3610000]",0.923995,1.370549,7390000,1.250000,0.00,3.544544
25,1025,3950479,93000,[],[1],[],0.397165,0.000000,0,0.083333,0.00,0.480499
26,1026,7917948,20000,[],[3],"[2980000, 1090000, 1030000]",0.785544,0.945846,5100000,0.250000,0.00,1.981390
27,1027,6720742,43000,[4750000],[4],[4380000],0.668446,0.812315,4380000,0.333333,-4.75,-2.935906
28,1028,3089687,75000,[],[],[8530000],0.309527,1.581973,8530000,0.000000,0.00,1.891500
29,1029,3273457,78000,[],[],[8520000],0.328153,1.580119,8520000,0.000000,0.00,1.908271
...,...,...,...,...,...,...,...,...,...,...,...,...
970,1970,6738170,10000,[],"[4, 1]",[],0.666893,0.000000,0,0.750000,0.00,1.416893
971,1971,6313010,4000,[800000],[],[2250000],0.623895,0.417285,2250000,0.000000,-0.80,0.241180
972,1972,1856388,20000,[9310000],"[5, 1, 2]","[5410000, 3550000, 2590000]",0.181050,2.142062,11550000,2.083333,-9.31,-4.903554
973,1973,1411818,92000,[8520000],[3],"[2360000, 3470000]",0.143895,1.081231,5830000,0.250000,-8.52,-7.044873
974,1974,4996547,19000,[9770000],"[3, 2]","[9170000, 6300000, 1800000]",0.494106,3.202893,17270000,0.666667,-9.77,-5.406335
975,1975,562276,9000,[9580000],[],[],0.050897,0.000000,0,0.000000,-9.58,-9.529103
976,1976,4933086,23000,[],"[2, 5]",[3500000],0.488176,0.649110,3500000,1.000000,0.00,2.137285
977,1977,9497068,67000,[5610000],[1],"[6520000, 5740000]",0.947711,2.273739,12260000,0.083333,-5.61,-2.305217
978,1978,360340,11000,[],"[3, 3, 2]","[6770000, 2910000]",0.030958,1.795252,9680000,1.666667,0.00,3.492877
979,1979,2809097,100000,[],[],[],0.284038,0.000000,0,0.000000,0.00,0.284038
980,1980,3034819,93000,[],"[1, 1, 2]","[7760000, 5790000, 1180000]",0.305850,2.731825,14730000,0.916667,0.00,3.954342
981,1981,9800208,82000,[3220000],"[1, 3]",[4390000],0.979438,0.814169,4390000,0.583333,-3.22,-0.843060
982,1982,2030713,25000,[],"[3, 2]","[8040000, 7360000]",0.198933,2.856083,15400000,0.666667,0.00,3.721683
983,1983,4930268,44000,[],"[5, 1, 3]","[7350000, 20000, 7200000]",0.489989,2.702151,14570000,2.250000,0.00,5.442140
984,1984,4449276,55000,[],[],"[3940000, 8700000]",0.443119,2.344214,12640000,0.000000,0.00,2.787332
985,1985,2471092,79000,[],"[5, 2]","[6290000, 7170000]",0.248236,2.496291,13460000,1.000000,0.00,3.744527
986,1986,6208712,100000,[6040000],[2],"[9360000, 3720000, 6620000]",0.623068,3.653561,19700000,0.166667,-6.04,-1.596705
987,1987,3766064,11000,[],[],[3130000],0.370597,0.580490,3130000,0.000000,0.00,0.951086
988,1988,4306217,32000,[],[],"[3870000, 1320000, 1080000]",0.426558,1.162834,6270000,0.000000,0.00,1.589392
989,1989,1059606,70000,[3300000],[1],"[7480000, 6680000, 1820000]",0.106577,2.963650,15980000,0.083333,-3.30,-0.146440
990,1990,8118166,96000,[5810000],[4],[],0.813091,0.000000,0,0.333333,-5.81,-4.663576
991,1991,9032326,57000,[],[],[],0.900367,0.000000,0,0.000000,0.00,0.900367
992,1992,8495505,34000,[],"[3, 1, 3]",[9500000],0.844538,1.761869,9500000,1.583333,0.00,4.189741
993,1993,2814719,54000,[],[4],"[4250000, 5390000, 890000]",0.280011,1.952893,10530000,0.333333,0.00,2.566238
994,1994,1792809,83000,[],"[5, 4, 2]",[8550000],0.180992,1.585682,8550000,2.500000,0.00,4.266675
995,1995,4863472,97000,[7100000],[2],"[5520000, 930000, 7820000]",0.488613,2.646513,14270000,0.166667,-7.10,-3.798207
996,1996,8150911,7000,[6500000],[],"[6810000, 5160000, 0]",0.807480,2.219955,11970000,0.000000,-6.50,-3.472564
997,1997,5115331,34000,[],"[3, 5, 2]","[9040000, 8690000]",0.507447,3.288205,17730000,2.333333,0.00,6.128985
998,1998,8818911,89000,[8600000],"[3, 3, 4]","[1710000, 3390000, 1780000]",0.882275,1.275964,6880000,2.083333,-8.60,-4.358427
999,1999,8441683,79000,[],"[2, 3]",[],0.843658,0.000000,0,0.666667,0.00,1.510325

In [21]:
file = df.to_csv('dataset.csv')

In [22]:
df[df['ID'] == 5051]

Empty DataFrame
Columns: [ID, A/c Bal, Fixed Deposit, Active Loans, Level of Referees, Paid Loans, col12, Paid Loans Sum, Paid Loan Sum, Reference_factor, penalty_active_loans, final]
Index: []