In [164]:
import pandas as pd
import numpy as np
import random

In [165]:
reg_id = []
ac_bal = []
p_loans_no = []
act_loans_no = []
p_loans_no =[]
act_loans_no = [] 
ref_no =[]
fd = []

In [166]:
def list_loan_gen(len,num):
    x = []
    if num == 0: 
        for i in range(0, len):
            x.append(random.randint(0,1000)*10000) 
    else:
        for i in range(0, len):
            x.append(random.randint(1,5))
    return x

def twoD_loan_gen(p_loans, num):
    x = []
    for i in p_loans:
        x.append(list_loan_gen(i, num))
    return x

for i in range(0, 1000):
    reg_id.append(random.randint(1000,9999))
    ac_bal.append(int(random.random()*10000000))
    p_loans_no.append(int(random.randint(0,3)))
    act_loans_no.append(int(random.randint(0,1)))
    ref_no.append(int(random.randint(0,3)))
    fd.append(int(random.randint(0,100)*1000))
ref = twoD_loan_gen(ref_no, 1)
p_loans = twoD_loan_gen(p_loans_no, 0)
act_loans = twoD_loan_gen(act_loans_no, 0)

In [167]:
df = pd.DataFrame(data={'ID':reg_id, 'A/c Bal':ac_bal, 'Paid Loans':p_loans, 'Active Loans':act_loans, 'Level of Referees':ref, 'Fixed Deposit':fd})
df.head()

,A/c Bal,Active Loans,Fixed Deposit,ID,Level of Referees,Paid Loans
0,9478671,[1300000],42000,5015,"[2, 2]",[8590000]
1,5175151,[8000000],43000,2367,[],[]
2,5804462,[9620000],23000,2772,[3],"[4440000, 7540000, 9110000]"
3,3948545,[],23000,3972,"[1, 2, 1]",[]
4,7710633,[],57000,8546,[],"[6310000, 9730000]"

In [170]:
cols = df.columns.tolist()
cols = ['ID', 'A/c Bal', 'Fixed Deposit', 'Active Loans', 'Level of Referees', 'Paid Loans']
df = df[cols]
df

,ID,A/c Bal,Fixed Deposit,Active Loans,Level of Referees,Paid Loans
0,5015,9478671,42000,[1300000],"[2, 2]",[8590000]
1,2367,5175151,43000,[8000000],[],[]
2,2772,5804462,23000,[9620000],[3],"[4440000, 7540000, 9110000]"
3,3972,3948545,23000,[],"[1, 2, 1]",[]
4,8546,7710633,57000,[],[],"[6310000, 9730000]"
5,1892,7145134,49000,[],"[3, 2, 3]",[]
6,4889,2334568,43000,[1780000],[],[]
7,3974,5068630,2000,[1840000],"[3, 3]",[]
8,9655,2298823,91000,[5110000],"[3, 3]",[1040000]
9,1945,6733807,62000,[710000],[4],[1150000]
10,9180,5977939,45000,[],[],"[6670000, 4180000]"
11,9576,1918804,38000,[],[3],"[3780000, 7550000]"
12,6777,1749391,64000,[],"[3, 5, 3]","[2880000, 7530000, 4280000]"
13,4155,3284532,57000,[7800000],"[5, 5, 2]",[]
14,2763,4726128,66000,[],[],[]
15,1376,3432396,74000,[],"[2, 5, 1]","[6730000, 9930000]"
16,7453,8138052,23000,[7720000],[],"[3440000, 1660000, 0]"
17,1158,7805187,91000,[9670000],"[5, 1]","[5960000, 4470000, 1360000]"
18,7071,7448717,54000,[],[],"[4310000, 310000]"
19,3334,7192711,28000,[],"[5, 2, 1]",[]
20,5867,4698400,18000,[],[3],"[7430000, 9190000, 170000]"
21,4605,6890932,93000,[],"[4, 4, 1]","[6520000, 220000]"
22,3929,402963,52000,[7150000],"[2, 5, 5]",[]
23,6972,1739177,1000,[8510000],[3],[]
24,4909,5203316,12000,[],[],"[8870000, 3450000]"
25,2150,1409293,23000,[2360000],[4],"[3130000, 6440000, 1230000]"
26,6951,2679792,49000,[5660000],"[5, 2]",[8000000]
27,4022,7990519,89000,[10000000],"[1, 4, 2]","[8680000, 8600000, 7990000]"
28,9109,3301501,56000,[8890000],"[1, 1, 4]","[4740000, 7150000]"
29,7840,1134549,42000,[],"[2, 2]",[]
...,...,...,...,...,...,...
970,7373,7195285,62000,[],[],"[8620000, 1800000]"
971,6513,7237266,81000,[],"[5, 5, 3]",[]
972,4481,4736511,26000,[],[4],"[900000, 9020000]"
973,1402,3611606,75000,[],"[2, 5]",[5860000]
974,7017,6070797,34000,[],"[3, 3]",[]
975,8239,83638,88000,[],[1],"[6190000, 8920000]"
976,3756,1169347,78000,[4990000],"[2, 2, 3]","[2660000, 3020000, 9870000]"
977,1022,6572763,49000,[1790000],[],[5930000]
978,3275,9712856,97000,[],[],"[6500000, 8270000]"
979,8507,2352710,33000,[4050000],[],[2540000]
980,2583,5803363,92000,[],"[5, 3, 3]",[]
981,6726,4188959,68000,[520000],"[1, 5, 5]",[6560000]
982,6901,6855155,62000,[],"[2, 1]",[1400000]
983,1400,5635174,49000,[],[],[]
984,6131,9600655,37000,[5060000],[],[4680000]
985,9316,3457516,95000,[7810000],"[3, 5]","[2870000, 1740000, 3550000]"
986,6572,1014789,87000,[2520000],"[5, 5]","[2930000, 800000]"
987,1920,5667569,50000,[2830000],"[4, 4]","[1290000, 9670000, 9330000]"
988,3577,3908140,26000,[8160000],"[2, 3, 5]","[1340000, 8770000, 1650000]"
989,8559,1332128,71000,[],[5],"[9070000, 6020000]"
990,1569,2320239,9000,[7030000],"[3, 4, 4]",[]
991,9088,3792866,42000,[],[],[940000]
992,6962,2821061,57000,[600000],"[2, 5]","[1630000, 5870000, 6380000]"
993,5338,7002647,32000,[],"[1, 3]","[6730000, 3810000, 7150000]"
994,2076,6549489,31000,[],[2],[]
995,1951,2349514,38000,[],[1],[3760000]
996,2110,9928454,82000,[],[],"[7720000, 9310000]"
997,8518,3521866,87000,[],[3],[]
998,6018,6831632,98000,[],"[2, 3]","[7550000, 4480000]"
999,2150,6098485,29000,[5090000],[2],[]

In [187]:
df.to_csv('dataset.csv')

In [186]:
df['col12'] = df['A/c Bal']+df['Fixed Deposit']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['col12'] = scaler.fit_transform(df['col12'].reshape(-1,1))
df['col12']

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  This is separate from the ipykernel package so we can avoid doing imports until

0      0.945678
1      0.516425
2      0.577215
3      0.392054
4      0.770781
5      0.713564
6      0.233026
7      0.501707
8      0.234249
9      0.673824
10     0.596717
11     0.191048
12     0.176740
13     0.329199
14     0.473922
15     0.345647
16     0.810032
17     0.783607
18     0.744351
19     0.716216
20     0.466366
21     0.692593
22     0.041212
23     0.169435
24     0.516142
25     0.138718
26     0.268067
27     0.801897
28     0.330792
29     0.113203
         ...
970    0.719865
971    0.725949
972    0.470967
973    0.363626
974    0.604884
975    0.012946
976    0.120267
977    0.656460
978    0.974529
979    0.233839
980    0.583989
981    0.420529
982    0.685931
983    0.562919
984    0.957349
985    0.350248
986    0.105745
987    0.566251
988    0.388322
989    0.135809
990    0.228205
991    0.378418
992    0.282959
993    0.697653
994    0.652342
995    0.234019
996    0.994542
997    0.355870
998    0.687176
999    0.607147
Name: col12, Length: 1000, dtype: float64