In [164]:
import pandas as pd
import numpy as np
import random

In [165]:
reg_id = []
ac_bal = []
p_loans_no = []
act_loans_no = []
p_loans_no =[]
act_loans_no = [] 
ref_no =[]
fd = []

In [166]:
def list_loan_gen(len,num):
    x = []
    if num == 0: 
        for i in range(0, len):
            x.append(random.randint(0,1000)*10000) 
    else:
        for i in range(0, len):
            x.append(random.randint(1, 5))
    return x

def twoD_loan_gen(p_loans, num):
    x = []
    for i in p_loans:
        x.append(list_loan_gen(i, num))
    return x

for i in range(0, 1000):
    reg_id.append(random.randint(1000, 9999))
    ac_bal.append(int(random.random()*10000000))
    p_loans_no.append(int(random.randint(0, 3)))
    act_loans_no.append(int(random.randint(0, 1)))
    ref_no.append(int(random.randint(0, 3)))
    fd.append(int(random.randint(0, 100)*1000))
    
ref = twoD_loan_gen(ref_no, 1)
p_loans = twoD_loan_gen(p_loans_no, 0)
act_loans = twoD_loan_gen(act_loans_no, 0)

In [167]:
df = pd.DataFrame(data={'ID':reg_id, 'A/c Bal':ac_bal, 'Paid Loans':p_loans, 'Active Loans':act_loans, 'Level of Referees':ref, 'Fixed Deposit':fd})
df.head()

,A/c Bal,Active Loans,Fixed Deposit,ID,Level of Referees,Paid Loans
0,9478671,[1300000],42000,5015,"[2, 2]",[8590000]
1,5175151,[8000000],43000,2367,[],[]
2,5804462,[9620000],23000,2772,[3],"[4440000, 7540000, 9110000]"
3,3948545,[],23000,3972,"[1, 2, 1]",[]
4,7710633,[],57000,8546,[],"[6310000, 9730000]"

In [170]:
cols = df.columns.tolist()
cols = ['ID', 'A/c Bal', 'Fixed Deposit', 'Active Loans', 'Level of Referees', 'Paid Loans']
df = df[cols]
df

,ID,A/c Bal,Fixed Deposit,Active Loans,Level of Referees,Paid Loans
0,5015,9478671,42000,[1300000],"[2, 2]",[8590000]
1,2367,5175151,43000,[8000000],[],[]
2,2772,5804462,23000,[9620000],[3],"[4440000, 7540000, 9110000]"
3,3972,3948545,23000,[],"[1, 2, 1]",[]
4,8546,7710633,57000,[],[],"[6310000, 9730000]"
5,1892,7145134,49000,[],"[3, 2, 3]",[]
6,4889,2334568,43000,[1780000],[],[]
7,3974,5068630,2000,[1840000],"[3, 3]",[]
8,9655,2298823,91000,[5110000],"[3, 3]",[1040000]
9,1945,6733807,62000,[710000],[4],[1150000]
10,9180,5977939,45000,[],[],"[6670000, 4180000]"
11,9576,1918804,38000,[],[3],"[3780000, 7550000]"
12,6777,1749391,64000,[],"[3, 5, 3]","[2880000, 7530000, 4280000]"
13,4155,3284532,57000,[7800000],"[5, 5, 2]",[]
14,2763,4726128,66000,[],[],[]
15,1376,3432396,74000,[],"[2, 5, 1]","[6730000, 9930000]"
16,7453,8138052,23000,[7720000],[],"[3440000, 1660000, 0]"
17,1158,7805187,91000,[9670000],"[5, 1]","[5960000, 4470000, 1360000]"
18,7071,7448717,54000,[],[],"[4310000, 310000]"
19,3334,7192711,28000,[],"[5, 2, 1]",[]
20,5867,4698400,18000,[],[3],"[7430000, 9190000, 170000]"
21,4605,6890932,93000,[],"[4, 4, 1]","[6520000, 220000]"
22,3929,402963,52000,[7150000],"[2, 5, 5]",[]
23,6972,1739177,1000,[8510000],[3],[]
24,4909,5203316,12000,[],[],"[8870000, 3450000]"
25,2150,1409293,23000,[2360000],[4],"[3130000, 6440000, 1230000]"
26,6951,2679792,49000,[5660000],"[5, 2]",[8000000]
27,4022,7990519,89000,[10000000],"[1, 4, 2]","[8680000, 8600000, 7990000]"
28,9109,3301501,56000,[8890000],"[1, 1, 4]","[4740000, 7150000]"
29,7840,1134549,42000,[],"[2, 2]",[]
...,...,...,...,...,...,...
970,7373,7195285,62000,[],[],"[8620000, 1800000]"
971,6513,7237266,81000,[],"[5, 5, 3]",[]
972,4481,4736511,26000,[],[4],"[900000, 9020000]"
973,1402,3611606,75000,[],"[2, 5]",[5860000]
974,7017,6070797,34000,[],"[3, 3]",[]
975,8239,83638,88000,[],[1],"[6190000, 8920000]"
976,3756,1169347,78000,[4990000],"[2, 2, 3]","[2660000, 3020000, 9870000]"
977,1022,6572763,49000,[1790000],[],[5930000]
978,3275,9712856,97000,[],[],"[6500000, 8270000]"
979,8507,2352710,33000,[4050000],[],[2540000]
980,2583,5803363,92000,[],"[5, 3, 3]",[]
981,6726,4188959,68000,[520000],"[1, 5, 5]",[6560000]
982,6901,6855155,62000,[],"[2, 1]",[1400000]
983,1400,5635174,49000,[],[],[]
984,6131,9600655,37000,[5060000],[],[4680000]
985,9316,3457516,95000,[7810000],"[3, 5]","[2870000, 1740000, 3550000]"
986,6572,1014789,87000,[2520000],"[5, 5]","[2930000, 800000]"
987,1920,5667569,50000,[2830000],"[4, 4]","[1290000, 9670000, 9330000]"
988,3577,3908140,26000,[8160000],"[2, 3, 5]","[1340000, 8770000, 1650000]"
989,8559,1332128,71000,[],[5],"[9070000, 6020000]"
990,1569,2320239,9000,[7030000],"[3, 4, 4]",[]
991,9088,3792866,42000,[],[],[940000]
992,6962,2821061,57000,[600000],"[2, 5]","[1630000, 5870000, 6380000]"
993,5338,7002647,32000,[],"[1, 3]","[6730000, 3810000, 7150000]"
994,2076,6549489,31000,[],[2],[]
995,1951,2349514,38000,[],[1],[3760000]
996,2110,9928454,82000,[],[],"[7720000, 9310000]"
997,8518,3521866,87000,[],[3],[]
998,6018,6831632,98000,[],"[2, 3]","[7550000, 4480000]"
999,2150,6098485,29000,[5090000],[2],[]

In [187]:
df.to_csv('dataset.csv')

In [186]:
df['col12'] = df['A/c Bal']+df['Fixed Deposit']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['col12'] = scaler.fit_transform(df['col12'].reshape(-1,1))

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  This is separate from the ipykernel package so we can avoid doing imports until

0      0.945678
1      0.516425
2      0.577215
3      0.392054
4      0.770781
5      0.713564
6      0.233026
7      0.501707
8      0.234249
9      0.673824
10     0.596717
11     0.191048
12     0.176740
13     0.329199
14     0.473922
15     0.345647
16     0.810032
17     0.783607
18     0.744351
19     0.716216
20     0.466366
21     0.692593
22     0.041212
23     0.169435
24     0.516142
25     0.138718
26     0.268067
27     0.801897
28     0.330792
29     0.113203
         ...
970    0.719865
971    0.725949
972    0.470967
973    0.363626
974    0.604884
975    0.012946
976    0.120267
977    0.656460
978    0.974529
979    0.233839
980    0.583989
981    0.420529
982    0.685931
983    0.562919
984    0.957349
985    0.350248
986    0.105745
987    0.566251
988    0.388322
989    0.135809
990    0.228205
991    0.378418
992    0.282959
993    0.697653
994    0.652342
995    0.234019
996    0.994542
997    0.355870
998    0.687176
999    0.607147
Name: col12, Length: 1000, dtype: float64

In [240]:
df['Paid Loans']

0                        [8590000]
1                               []
2      [4440000, 7540000, 9110000]
3                               []
4               [6310000, 9730000]
5                               []
6                               []
7                               []
8                        [1040000]
9                        [1150000]
10              [6670000, 4180000]
11              [3780000, 7550000]
12     [2880000, 7530000, 4280000]
13                              []
14                              []
15              [6730000, 9930000]
16           [3440000, 1660000, 0]
17     [5960000, 4470000, 1360000]
18               [4310000, 310000]
19                              []
20      [7430000, 9190000, 170000]
21               [6520000, 220000]
22                              []
23                              []
24              [8870000, 3450000]
25     [3130000, 6440000, 1230000]
26                       [8000000]
27     [8680000, 8600000, 7990000]
28              [4740000, 7150000]
29                              []
                  ...
970             [8620000, 1800000]
971                             []
972              [900000, 9020000]
973                      [5860000]
974                             []
975             [6190000, 8920000]
976    [2660000, 3020000, 9870000]
977                      [5930000]
978             [6500000, 8270000]
979                      [2540000]
980                             []
981                      [6560000]
982                      [1400000]
983                             []
984                      [4680000]
985    [2870000, 1740000, 3550000]
986              [2930000, 800000]
987    [1290000, 9670000, 9330000]
988    [1340000, 8770000, 1650000]
989             [9070000, 6020000]
990                             []
991                       [940000]
992    [1630000, 5870000, 6380000]
993    [6730000, 3810000, 7150000]
994                             []
995                      [3760000]
996             [7720000, 9310000]
997                             []
998             [7550000, 4480000]
999                             []
Name: Paid Loans, Length: 1000, dtype: object

In [239]:
x = [] 
for i in df['Paid Loans']:
    if(len(i)>0):
        k = 0
        for j in range(0,len(i)):
            k = k + i[j]
        x.append(k)
    else:
        x.append(0)
x

#df['Paid Loans']

[8590000,
 0,
 21090000,
 0,
 16040000,
 0,
 0,
 0,
 1040000,
 1150000,
 10850000,
 11330000,
 14690000,
 0,
 0,
 16660000,
 5100000,
 11790000,
 4620000,
 0,
 16790000,
 6740000,
 0,
 0,
 12320000,
 10800000,
 8000000,
 25270000,
 11890000,
 0,
 14960000,
 12960000,
 0,
 9830000,
 13270000,
 10150000,
 530000,
 9100000,
 0,
 4350000,
 0,
 7610000,
 4110000,
 10780000,
 15450000,
 0,
 0,
 0,
 0,
 0,
 9540000,
 16650000,
 4160000,
 6740000,
 9630000,
 3760000,
 0,
 20920000,
 15780000,
 0,
 14550000,
 5050000,
 4450000,
 0,
 9740000,
 7860000,
 9410000,
 0,
 0,
 12500000,
 310000,
 3790000,
 9720000,
 0,
 17990000,
 0,
 16530000,
 23460000,
 12650000,
 6650000,
 9360000,
 4390000,
 20560000,
 3220000,
 8220000,
 7870000,
 0,
 18210000,
 15080000,
 3030000,
 8920000,
 8850000,
 0,
 21540000,
 3690000,
 3710000,
 8890000,
 4180000,
 21130000,
 11790000,
 6410000,
 0,
 7910000,
 0,
 12690000,
 22900000,
 7570000,
 0,
 10630000,
 6240000,
 0,
 12400000,
 10620000,
 9700000,
 15410000,
 940000,
 0,
 0,
 0,
 5120000,
 23130000,
 14340000,
 11970000,
 0,
 0,
 0,
 17580000,
 19570000,
 1060000,
 9510000,
 18150000,
 6480000,
 6820000,
 20720000,
 20420000,
 25780000,
 12040000,
 11520000,
 8980000,
 16020000,
 0,
 25030000,
 2470000,
 13650000,
 9380000,
 12550000,
 18170000,
 260000,
 24860000,
 5570000,
 22220000,
 3100000,
 290000,
 11860000,
 0,
 12950000,
 8770000,
 16090000,
 9050000,
 14520000,
 0,
 1750000,
 4620000,
 3420000,
 3070000,
 5270000,
 0,
 2760000,
 5840000,
 18600000,
 10460000,
 3540000,
 7300000,
 4830000,
 5530000,
 0,
 6240000,
 13250000,
 0,
 15070000,
 8220000,
 0,
 6530000,
 0,
 990000,
 15650000,
 9920000,
 0,
 16320000,
 8960000,
 0,
 14820000,
 3950000,
 0,
 16350000,
 18570000,
 0,
 19850000,
 0,
 6670000,
 7980000,
 0,
 15290000,
 8660000,
 6770000,
 5050000,
 23160000,
 13660000,
 0,
 0,
 5370000,
 8080000,
 3720000,
 9790000,
 20000,
 5330000,
 10160000,
 4470000,
 9730000,
 3960000,
 0,
 0,
 10800000,
 0,
 0,
 0,
 13300000,
 0,
 18230000,
 20470000,
 2880000,
 12050000,
 4120000,
 14890000,
 12680000,
 18000000,
 14190000,
 4490000,
 1340000,
 16400000,
 6960000,
 0,
 0,
 13030000,
 8120000,
 6850000,
 18680000,
 0,
 12960000,
 0,
 17840000,
 10270000,
 3910000,
 12530000,
 0,
 0,
 10640000,
 4390000,
 6300000,
 20390000,
 19430000,
 0,
 11110000,
 9450000,
 3760000,
 7670000,
 9640000,
 0,
 0,
 2790000,
 12480000,
 1910000,
 16650000,
 15070000,
 17400000,
 9560000,
 15700000,
 5780000,
 15200000,
 17060000,
 2970000,
 16560000,
 0,
 2030000,
 0,
 0,
 13140000,
 15110000,
 8000000,
 5830000,
 17510000,
 0,
 5810000,
 9640000,
 13140000,
 9570000,
 0,
 0,
 21850000,
 11750000,
 0,
 9040000,
 4990000,
 16920000,
 2290000,
 3900000,
 7750000,
 11170000,
 7970000,
 6470000,
 0,
 0,
 0,
 11320000,
 18520000,
 9980000,
 6850000,
 19220000,
 0,
 9120000,
 12130000,
 6710000,
 8100000,
 0,
 7680000,
 0,
 14380000,
 8690000,
 12890000,
 9350000,
 0,
 0,
 11620000,
 0,
 4260000,
 6940000,
 8300000,
 8220000,
 11310000,
 0,
 6300000,
 5140000,
 4660000,
 0,
 8780000,
 0,
 10920000,
 21050000,
 0,
 7940000,
 13390000,
 15780000,
 7390000,
 8070000,
 15280000,
 17720000,
 17990000,
 15800000,
 0,
 11520000,
 6230000,
 0,
 5960000,
 8430000,
 18650000,
 22510000,
 6730000,
 9830000,
 5180000,
 9750000,
 0,
 2650000,
 0,
 19650000,
 0,
 11090000,
 13510000,
 0,
 0,
 4960000,
 1180000,
 10010000,
 19020000,
 21720000,
 6400000,
 4880000,
 5980000,
 15560000,
 5590000,
 6670000,
 4510000,
 14960000,
 0,
 16170000,
 13840000,
 4760000,
 4800000,
 8800000,
 7400000,
 10190000,
 20010000,
 15220000,
 9350000,
 9950000,
 0,
 480000,
 7730000,
 0,
 0,
 12940000,
 6330000,
 4420000,
 6490000,
 28230000,
 0,
 0,
 12260000,
 0,
 16520000,
 8820000,
 12640000,
 2780000,
 1130000,
 7120000,
 8550000,
 1170000,
 3250000,
 2240000,
 23340000,
 0,
 0,
 10320000,
 9360000,
 6010000,
 0,
 0,
 18410000,
 4030000,
 0,
 13270000,
 23160000,
 7130000,
 0,
 18540000,
 0,
 8340000,
 8610000,
 8420000,
 4830000,
 14650000,
 24190000,
 0,
 14190000,
 5470000,
 18100000,
 0,
 0,
 8970000,
 7940000,
 0,
 0,
 0,
 0,
 5350000,
 4220000,
 0,
 7230000,
 15910000,
 15810000,
 10350000,
 0,
 0,
 9590000,
 9920000,
 12270000,
 8160000,
 13940000,
 0,
 17890000,
 9760000,
 5140000,
 2260000,
 0,
 9000000,
 2570000,
 17490000,
 4930000,
 0,
 10700000,
 4540000,
 4420000,
 13860000,
 0,
 6580000,
 6130000,
 7120000,
 13420000,
 7580000,
 0,
 20940000,
 8220000,
 6040000,
 0,
 5770000,
 0,
 10120000,
 0,
 19990000,
 6380000,
 0,
 0,
 3230000,
 13860000,
 0,
 24110000,
 19150000,
 0,
 0,
 10130000,
 720000,
 0,
 0,
 11050000,
 8380000,
 0,
 12210000,
 6110000,
 6870000,
 5230000,
 0,
 10610000,
 10700000,
 19650000,
 25340000,
 0,
 6190000,
 0,
 0,
 8700000,
 5800000,
 5170000,
 0,
 1420000,
 21520000,
 11550000,
 18650000,
 20190000,
 12820000,
 13510000,
 0,
 5300000,
 0,
 10160000,
 9250000,
 1370000,
 8490000,
 8980000,
 900000,
 18930000,
 5130000,
 0,
 7660000,
 4310000,
 11820000,
 13250000,
 9580000,
 20310000,
 5500000,
 0,
 0,
 0,
 8270000,
 8050000,
 5290000,
 9730000,
 0,
 11080000,
 7800000,
 0,
 4210000,
 11890000,
 9410000,
 19350000,
 280000,
 0,
 0,
 8320000,
 780000,
 1670000,
 3860000,
 0,
 0,
 0,
 19840000,
 15740000,
 0,
 9580000,
 0,
 17470000,
 5750000,
 3450000,
 8080000,
 0,
 16680000,
 0,
 2770000,
 0,
 11810000,
 15200000,
 0,
 810000,
 14650000,
 26060000,
 12380000,
 1080000,
 9690000,
 0,
 2130000,
 2240000,
 15000000,
 4160000,
 7100000,
 5210000,
 5580000,
 5830000,
 0,
 10350000,
 11440000,
 21720000,
 21510000,
 8650000,
 8730000,
 9770000,
 6280000,
 9230000,
 5450000,
 8340000,
 0,
 17240000,
 0,
 15620000,
 0,
 18580000,
 8470000,
 0,
 9180000,
 16110000,
 10250000,
 2100000,
 16060000,
 12340000,
 5950000,
 1800000,
 14060000,
 6660000,
 6990000,
 10960000,
 8140000,
 4210000,
 11990000,
 0,
 3650000,
 18690000,
 180000,
 11300000,
 15990000,
 0,
 18580000,
 480000,
 0,
 8430000,
 0,
 9340000,
 0,
 9740000,
 15970000,
 5780000,
 3730000,
 17290000,
 10760000,
 0,
 4100000,
 21930000,
 9310000,
 23710000,
 11070000,
 22510000,
 800000,
 0,
 0,
 19260000,
 0,
 2090000,
 8490000,
 1090000,
 22610000,
 4280000,
 0,
 0,
 9650000,
 6960000,
 4720000,
 13080000,
 5350000,
 5690000,
 0,
 0,
 0,
 18320000,
 17950000,
 2820000,
 0,
 15880000,
 19890000,
 6480000,
 5070000,
 0,
 10780000,
 0,
 15340000,
 0,
 11520000,
 21970000,
 5510000,
 0,
 9430000,
 10290000,
 17090000,
 6330000,
 14760000,
 10190000,
 0,
 6470000,
 9520000,
 2460000,
 0,
 0,
 7840000,
 8730000,
 10100000,
 12380000,
 0,
 11040000,
 5130000,
 20200000,
 5610000,
 0,
 5520000,
 2420000,
 0,
 5800000,
 7740000,
 15580000,
 9350000,
 8930000,
 6620000,
 8680000,
 9270000,
 13020000,
 11750000,
 11800000,
 0,
 10930000,
 15590000,
 18620000,
 14270000,
 7020000,
 2810000,
 18680000,
 13330000,
 13280000,
 0,
 6190000,
 11470000,
 0,
 0,
 5820000,
 5560000,
 14230000,
 16780000,
 6180000,
 4900000,
 16020000,
 0,
 17940000,
 8740000,
 10660000,
 0,
 9120000,
 3550000,
 0,
 0,
 0,
 6460000,
 11370000,
 2130000,
 12400000,
 13150000,
 9780000,
 0,
 6220000,
 5960000,
 4830000,
 0,
 0,
 4180000,
 0,
 7860000,
 14950000,
 16290000,
 6320000,
 15650000,
 15910000,
 7210000,
 0,
 0,
 12760000,
 0,
 0,
 0,
 13510000,
 0,
 17420000,
 0,
 7790000,
 9670000,
 9390000,
 17070000,
 18740000,
 14360000,
 0,
 18160000,
 3590000,
 0,
 10740000,
 11350000,
 5540000,
 5880000,
 0,
 0,
 170000,
 0,
 8130000,
 0,
 13020000,
 10600000,
 0,
 0,
 0,
 8920000,
 6590000,
 1830000,
 20150000,
 2660000,
 20790000,
 3990000,
 3210000,
 13550000,
 18700000,
 0,
 13790000,
 11800000,
 7060000,
 6550000,
 5660000,
 14260000,
 7760000,
 1030000,
 0,
 12690000,
 0,
 0,
 7140000,
 11980000,
 8800000,
 12270000,
 19330000,
 6380000,
 0,
 14710000,
 8030000,
 8730000,
 8190000,
 11140000,
 1770000,
 7890000,
 6800000,
 0,
 4750000,
 8900000,
 8660000,
 7360000,
 10500000,
 0,
 0,
 0,
 0,
 7300000,
 0,
 8830000,
 16640000,
 17690000,
 17890000,
 0,
 14110000,
 0,
 0,
 17980000,
 0,
 13270000,
 4910000,
 8020000,
 5990000,
 10190000,
 15750000,
 10130000,
 0,
 8830000,
 0,
 2900000,
 3510000,
 0,
 6220000,
 0,
 4450000,
 5870000,
 10530000,
 14760000,
 0,
 14500000,
 0,
 0,
 16080000,
 0,
 2440000,
 0,
 0,
 0,
 11200000,
 7100000,
 8360000,
 10380000,
 8110000,
 0,
 4180000,
 15140000,
 11290000,
 0,
 11000000,
 17290000,
 16010000,
 0,
 9490000,
 0,
 19070000,
 9710000,
 17710000,
 0,
 0,
 12580000,
 5590000,
 16240000,
 2110000,
 0,
 6430000,
 12290000,
 8680000,
 0,
 11370000,
 0,
 10420000,
 0,
 9920000,
 5860000,
 0,
 15110000,
 15550000,
 5930000,
 14770000,
 2540000,
 0,
 6560000,
 1400000,
 0,
 4680000,
 8160000,
 3730000,
 20290000,
 11760000,
 15090000,
 0,
 940000,
 13880000,
 17690000,
 0,
 3760000,
 17030000,
 0,
 12030000,
 0]

2